<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
	<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Atta Blog</title>
	<th:block layout:replace="layout/Head :: head"/>
</head>
<body>
<th:block layout:replace="layout/Header :: header"/>
<th:block layout:fragment="content">
    <p>This is filled by the content template.</p>
</th:block>
<th:block layout:replace="layout/Footer :: footer"/>
<th:block layout:fragment="optional" />
</body>
</html>