
.article__header::before{
    background-image: url(/img/article--green/articleHeaderBefore.png);
}
.article__header::after{
    background-image: url(/img/article--green/articleHeaderAfter.png);
}
.article__title{
    color: #2e5955;
}
.article__title::before{
    background-color: #f2da91;
}
.article__date::after{
    background-image: url(../img/article--green/articleDateAfter.png);
}
.article__text p:first-child::before{
    background-image: url(../img/article--green/articleText1Before.png);
}
.article__img::before{
    background-color: #2e5955;
}
.article__img::after{
    background-color: #f2da91;
}
.article__text p:nth-child(4n)::after{
    background-image: url(../img/article--green/artilceText4After.png);
}
.article__text p:nth-child(6n)::after{
    background-image: url(../img/article--green/articleText5Before.png)
}
.article__btn::after{
    background-image: url(../img/article--green/articleBtnAfter.png);
}