.article {
}
.article__header {
    position: relative;
}
.article__header::before{
    content: '';
    width: 90px;
    height: 126px;
    position: absolute;
    left: 0;
    top: -100px;
    z-index: -10;
}
.article__header::after{
    content: '';
    width: 320px;
    height: 176px;
    position: absolute;
    right: 0;
    bottom: -50px;
    z-index: -10;
    background-size: contain;
    background-repeat: no-repeat;
}

.article__title {
    font-family: Heebo;
    font-size: 140px;
    font-weight: 700;
    line-height: 170px;
    letter-spacing: 14px;
    margin: 80px 0 120px 340px;
    text-transform: uppercase;
    position: relative;
}
.article__title::before{
    content: '';
    width: 277px;
    height: 277px;
    position: absolute;
    top: 50px;
    left: 125px;
    z-index: -10;


}
.article__body {

}
.article__wrapper{
    margin-left: 493px;

}
.article__date {
    color: #4c4d57;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.14px;
    margin-bottom: 40px;
    position: relative;
}
.article__date::after{
    content: '';
    width: 82px;
    height: 36px;
    position: absolute;
    right: -50px;
    top: -18px;
    z-index: ;
}
.article__subtitle {
    color: #4c4d57;
    font-family: Heebo;
    font-size: 50px;
    font-weight: 700;
    line-height: 74px;
    margin-bottom: 85px;
    letter-spacing: 1.2px;
}
.article__text {
    color: #151730;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.18px;
}
.article__text p{
    margin: 25px 0 25px;
    position: relative;
}
.article__text p:first-child::before{
    content: '';
    width: 46px;
    height: 258px;
    position: absolute;
    top: 0;
    left: -420px;
    z-index: -10;
}
.article__text p:nth-child(4)::after{
    content:'';
    width: 179px;
    height: 293px;
    position: absolute;
    bottom: -400px;
    right: -220px;
    z-index: -10;
}
.article__text p:nth-child(6n)::after{
    content: '';
    width: 150px;
    height: 442px;
    position: absolute;
    top: 0;
    left: -300px;

}
.article__img{
    position: relative;
    left: -386px;
    margin: 140px 0;
    display: inline-block;
}
.article__img img{
    width: 1135px;
}
.article__img::before{
    content: '';
    width: 584px;
    height: 559px;
    position: absolute;
    top: -227px;
    left: -364px;
    z-index: -10;
}
.article__img::after{
    content: '';
    width: 261px;
    height: 218px;
    position: absolute;
    bottom: -73px;
    right: -150px;
    z-index: -10;

}
.article__btn {
    position: relative;
    margin-top: 75px;

}
.article__btn::after{
    content:'';
    width: 96px;
    height: 127px;
    position: absolute;
    right: 0;
    top: -180px;
    z-index: -10;
    background-repeat: no-repeat;
    background-size: contain;
}
.article__btn .article__wrapper{
    width: 100%;
}

@media (min-width:2000px){
    .article__text p:nth-child(4)::after {
        display: none;
    }
    
}
@media (max-width: 1800px){
    .article__title{
        font-size: 120px;
        line-height: 140px;
        margin-bottom: 120px;
    }
    .article__title::before{
        width: 230px;
        height: 230px;
        top: 60px;
        left: 160px;
        z-index: -10;   
    }
    .article__img{
        margin: 120px 0;
    }
}
@media (max-width: 1440px){
    .article__wrapper{
        margin-left: 350px;
        margin-right: 50px;
    }
    .article__title{
        margin: 90px 0 140px 200px;
		font-size: 110px;
    }
    .article__title::before{
        left: 147px;
    }
    .article__header::after{
        width: 250px;
        bottom: -80px;
    }
    .article__img{
        left: -250px;
        margin: 40px 0;
    }
    .article__img::after{
        bottom: -50px;
    }
    .article__subtitle{
        margin-bottom: 50px;
    }
    .article__text p:nth-child(6n)::after {
        width: 110px;
    }
    .article__btn{
        margin-top: 50px;
    }
}
@media(max-width: 1366px){
    .article__body{
        margin-top: -40px;
    }
    .article__date{
        margin-bottom: 20px;
    }
    .article__text p:nth-child(4)::after{
        width: 120px;
        bottom: -305px;
        right: -127px;
    }
}
@media (max-width: 1025px){
    .article__title{
		margin: 50px 0 140px 200px;
        margin-left: 200px;
        font-size: 90px;
        line-height: 110px;
        letter-spacing: 12px;
        margin-bottom: 100px;
    }
    .article__title::before {
        width: 190px;
        height: 190px;
        top: 50px;
        left: 100px;
        z-index: -10;
    }
    .article__subtitle{
        font-size: 40px;
        line-height: 60px;
        margin-bottom: 75px;
    }
    .article__wrapper{
        margin-left: 300px;
        margin-right: 100px;
    }

    .article__img::before {
        width: 400px;
        height: 400px;
        top: -195px;
        left: -260px;

    }
    .article__img::after {
        width: 230px;
        height: 180px;
        right: -110px;
    }
    .article__img img{
        width: 750px;
    }

}
@media (max-width: 812px){
    .article__header::before{
        display: none;
    }
    .article__header::after{
        width: 310px;
        bottom: 0;
    }
    .article__title{
        font-size: 90px;
        line-height: 108px;
        margin-left: 0;
    }
    .article__title::before{
        width: 200px;
        height: 190px;
        top: 35px;
        left: 140px;
    }
    .article__wrapper{
        margin: 0;
    }
    .article__date{
        margin-bottom: 30px;
    }
    .article__subtitle{
        margin-bottom: 30px;
    }
    .article__text p{
        margin: 10px 0;
    }
    .article__img{
        left: 10px;
    }
    .article__img::before{
        width: 300px;
        height: 300px;
        top: -40px;
        left: -150px;
    }
    .article__img::after{
        bottom: -30px;
        right: -190px;
    }
    .article__img img{
        width: 700px;
    }
    .article__text p:nth-child(4)::after{
        bottom: 550px;
    }
    .article__btn{
        margin-left: 0;
    }
    .article__btn::after{
        width: 60px;
        top: -120px;
    }
    .article__btn .container{
        display: flex;
        justify-content: flex-end;
        margin: 0 50px;
    }
    .article__btn .container .btn{
        margin-right: 50px;
    }
    


}
@media (max-width: 650px){
    .article__header{
        margin-bottom: 90px;
    }
    .article__header::after{
        width: 177px;
        bottom: -101px;
    }
    .article__title{
        font-size: 50px;
        line-height: 67px;
        width: 90%;
        margin-top: 50px;
        letter-spacing: 4px;
        margin-left: 0;
        margin-bottom: 40px;
    }
    .article__title::before {
        width: 120px;
        height: 110px;
        top: 21px;
        left: 84px;
    }
    .article__wrapper{
        margin: 0;
    }
    .article__subtitle{
        font-size: 30px;
        line-height: 42px;
        margin-bottom: 45px;
        letter-spacing: normal;
    }
    .article__date{
        margin-bottom: 10px;
    }
    .article__text p{
        margin: 25px 0;
    }
    .article__text p:nth-child(4)::after {
        bottom: 315px;
        width: 120px;
        right: -81px;
    }
    .article__img{
        margin: 50px 0;
        left: auto;
    }
    .article__img img {
        width: 380px;
  
    }
    .article__img::before {
        width: 305px;
        height: 214px;
        top: -39px;
        left: -149px;
    }
    .article__img::after {
        width: 87px;
        height: 87px;
        bottom: -20px;
        right: -34px;
    }
    .article__btn{
      margin: 75px 0 38px;
    }
    .article__btn .container {
        margin: 0 auto;
    }
    .article__btn::after{
        top: -131px;
        width: 44px;
    }
    
    
}
@media (max-width: 414px){
    .container{
        padding: 0 15px;
    }
    .article__img img {
        width: 375px;
    }
 
}
@media (max-width:375px){
    .article__header::after{
        width: 180px;
        bottom: -85px;
    }
    .article__title{
        margin-left: 25px;
        margin-top: 100px;
    }
    .article__img{
        left: 58%;
        transform: translateX(-50%);
        right: auto;

    }
    .article__img::before {
        width: 305px;
        height: 161px;
        top: -39px;
        left: -199px;
    }
    .article__img::after {
        right: -57px;
    }
    .article__img img {
        width: 325px;
    }
}




/* @media (max-width: 1800px)
@media (max-width: 1320px)
@media (max-width: 812px)
@media (max-width: 650px)
@media (max-width: 414px) */