.blogTopSection{
    background-image: url(../img/placeholder/1920х940.png);
}
.blogTopSection__title {
    color: #f5f7ff;
}
.blogTopSection__title--color{
    color: #95b8bf;
}
.blogTopSection::after{
    background-image: url(../img/blogNews-v2--mustard/blogtopSectionAfter.png);
}
.blogMain__subtitle {
    color: #4c4d57;
}
h4.blogNews__title{
    color: #0d0d0d;
}
.blogMain__subtitle::before{
    background-image: url(../img/blogNews-v2--mustard/subtitle-before@2x.png);
}
.blogMain__subtitle::after{
    background-image: url(../img/blogNews-v2--mustard/blogSubtitleAfter.png);
}
.beforeBlock--graphic::before{
    background-color: #95b8bf;
}
.afterBlock--graphic::before{
    background-color: #a68549;
}
.afterBlock--graphic::after{
    background-image: url(../img/blogNews-v2--mustard/itemNthChild6n-after@2x.png);
}
.beforeBlock--graphic::after{
    background-image: url(../img/blogNews-v2--mustard/itemNthChild6n1-before@2x.png);
}
footer::before{
    background-image: url(../img/blogNews-v2--mustard/footer-before@2x.png);
}
@media(max-width: 900px){
    .beforeBlock--graphic::after{
        background-image: url(../img/blogNews-v2--mustard/mobBlockafter.png);
    }
    .afterBlock--graphic::after{
        background-image: url(../img/blogNews-v2--mustard/blogafter414.png);
    }
    .blog-posts__post--wrap:nth-child(4) .blog-posts__post::before{
        background-color: #a68549;
    }
    .blog-posts__post--wrap:nth-child(4) .blog-posts__post::after{
        background-image: url(../img/blogNews-v2--mustard/post4after.png);
    }
}
@media(max-width: 650px){
    .blogTopSection{
        background-image: url(../img/placeholder/425х585.png);
    }
}