body{
    background-color: #1a1d40;
}
.blogTopSection{
    background-image: url(../img/placeholder/1920х940.png);
}
.blogTopSection__title--color{
    color: #edafb8;
}
.blogTopSection::after{
    background-image: url(../img/blogNews-v1--dark/blogTopSection-after@2x.png);
}
p.blogMain__subtitle{
    color: #f2f2f2;
}
h4.blogNews__title{
    color: #f2f2f2;
}
.blogNews__date{
    color: #c3c3c3;
}
.blogMain__subtitle::before{
    background-image: url(../img/blogNews-v1--dark/subtitle-before@2x.png);
}
.blogMain__subtitle::after{
    background-image: url(../img/blogNews-v1--dark/subtitle-after@2x.png);
}
.blogMain__block::before{
    background-image: url(../img/blogNews-v1--dark/blogbefore.png);
}
.blogMain__block::after{
    background-image: url(../img/blogNews-v1--dark/blogafter.png);
}
.blogMain__item:nth-child(1):before{
    background-color: #32408c;
}
.blogMain__item:nth-child(6n)::before{
    background-color: #32408c;
}
.blogMain__item:nth-child(6n)::after{
    background-image: url(../img/blogNews-v1--dark/itemNthChild6n-after@2x.png);
}
.footer::before{
    background-image: url(../img/blogNews-v1--dark/footer-before@2x.png);
}
@media(max-width:812px)
{
    .blogTopSection::after{
        display: none;
    }
    .blogMain__item:nth-child(4)::before{
       background-image: url(../img/blogNews-v1--dark/mobileGraphicChild4n_before@2x.png);
    }
    .blogMain__item:nth-child(4)::after{
        background-image: url(../img/blogNews-v1--dark/blogItemNTH4.png);
    }
    .blogMain__item:nth-child(6n)::after{
        background-image: url(../img/blogNews-v1--dark/blogItem__6After.png);
    }
    .blogMain__item:nth-child(5n)::after{
        background-image: url(../img/blogNews-v1--dark/blog__item5.png);
    }
    .blogMain__item:nth-child(8n)::before{
        background-image: url(../img/blogNews-v1--dark/mobileGraphicChild8n_before@2x.png);
     }
     .blogMain__item:nth-child(8n)::after{
         background-image: url(../img/blogNews-v1--dark/mobileGraphicChild8n_after@2x.png);
     }
    .footer::before{
        display: none;
    }
}
@media(max-width:414px){
    .blogTopSection{
        background-image: url(../img/placeholder/425х585.png);
    }
    .blogMain__item:nth-child(4)::after{
        display: none;
    }
}