.cart__top {
}
.cart__title {
    color: #151730;
    font-family: Heebo;
    font-size: 90px;
    font-weight: 700;
    margin: 60px 0 0 130px;
}
.cart__body {   
    position: relative;
    color: #f5f7ff;
    margin-top: -50px;
}
.cart__wrapper { 
    
}
.cart__item {
    width: 1565px;
    height: 360px;
    margin: 140px 0;
}

.cart__item:nth-child(3n+1) .cart__itemGraphic::after{
    content: '';
    width: 77px;
    height: 188px;
    position: absolute;
    top: -66px;
    right: 0;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -10;
}
.cart__item:nth-child(3n+2) .cart__itemGraphic::before{
    content:'';
    width: 164px;
    height: 171px;
    position: absolute;
    top: -68px;
    right: 370px;
    z-index: -10;
    background-repeat: no-repeat;
    background-size: contain;
}
.cart__item:nth-child(3n+2) .cart__itemGraphic::after{
    content: '';
    width: 172px;
    height: 153px;
    position: absolute;
    bottom: -70px;
    right: 60%;
    z-index: -10;
    background-repeat: no-repeat;
    background-size: contain;
}
.cart__item:nth-child(3n) .cart__itemGraphic::before{
    content: '';
    width: 187px;
    height: 203px;
    position: absolute;
    top: -80px;
    right: 130px;
    z-index: -10px;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -10;
}
.cart__item:nth-child(3n+2) .cart__productLogo{
    position: relative; 
}
.cart__item:nth-child(3n+2) .cart__productLogo::before{
    content: '';
    width: 175px;
    height: 178px;
    position: absolute;
    top: -50px;
    left: -140px;
    z-index: -10;


}
.cart__itemWrapper{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    width: 1565px;
    height: 360px;

}
.cart__productLogo{
    position: relative;
    left: -130px;
}
.cart__productLogo img{
    width: 260px;
    height: 260px;

}
.cart__productName{
    display: block;
}
.cart__productName,
.cart__productPrice {
    font-family: Heebo;
    font-size: 50px;
    font-weight: 700;

}
.product__quantity {
    margin: 0 210px;
}
.product__quantity input {
    width: 50px;
}
.cart__productPrice {
}

.cart__summary {
    position: relative;
}
.cart__summary::before{
    content:'';
    width: 162px;
    height: 225px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}
.cart__summaryWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.cart__summaryTitle {
    color: #151730;
    font-family: Heebo;
    font-size: 90px;
    font-weight: 700;
    padding-right: 100px;
}
.cart__summarySubtotal {
    color: #4c4d57;
    font-family: Heebo;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 488px;
    justify-content: space-between;
    margin: 40px 0;
}
.cart__summarySubtotal span{

    text-transform: uppercase;
}
.cart__summaryTotal {
    font-size: 50px;
}
footer::after{
    content:'';
    width: 328px;
    height: 160px;
    position: absolute;
    bottom: -20px;
    right: 40%;
    z-index: -10;
}

@media(max-width: 1800px){
    .product__quantity{
        margin: 0 150px;
    }
    .cart__itemWrapper{
        width: 1300px;
        padding-right: 30px;
    }

}
@media(max-width:1600px){
    .cart__itemWrapper{
        justify-content: space-between;
    }
    .product__quantity{
        display: flex;
        align-items: center;
    }
}
@media (max-width:1439px){
    .cart__title{
        margin-bottom: 60px;
    }
    .cart__itemWrapper{
        width: 1200px;
    }
    .product__quantity{
        margin: 0 100px;
    }
}
@media (max-width: 1370px){
    .cart__itemWrapper{
        width: 1024px;
    }
    .cart__item:last-child{
        margin-bottom: 70px;
    }
    .product__quantity{
        margin: 0 50px;  
        display: flex;
        align-items: center;
        justify-content: center;  
        flex-direction: column;
    }
    .product__quantity label{
        margin: 0 0 5px 0;
    }
    .cart__productName{
        margin-left: -100px;
    }
    .cart__summarySubtotal{
        margin: 20px 0;
    }
}
@media (max-width:1024px){
    .cart__itemWrapper {
        width: 840px;
    }
    .product__quantity{
        margin: 0 20px;
    }
    footer::after {
        content: '';
        width: 200px;
        height: 160px;
        position: absolute;
        bottom: -34px;
        right: 29%;
        z-index: -10;
    }
}
@media (max-width:812px){
    .cart__title{
        margin-left: 0px;
    }
    .cart__body .container{
        width: 100%;

    }
    .cart__item{
        width: 100%;
        height: auto;
        margin-bottom: 140px;
    }
    .cart__item:last-child{
        margin-bottom: 40px;
    }
    .cart__itemWrapper {
        position: relative;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding-bottom: 45px;
    }
    .cart__productLogo,
    .cart__productName,
    .cart__productPrice,
    .product__quantity{
        padding-left: 40px;
        line-height: 50px;
    }
    .cart__productLogo{
        position: absolute;
        left: auto;
        right: 30px;
        top: -77px;
    }
    .cart__item:nth-child(3n+2) .cart__productLogo{
        position: absolute;
    }
    .cart__productName{
        margin: 0;
        margin-bottom: 30px;
        margin-top: 50px;
        width: 60%;
    }
    .product__quantity{
        width: 60%;
        margin: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 20px;
    }
    .cart__summary{
        margin-bottom: -10px;
    }
    .footer::after{
        right: -100px;
    }
    .cart__item:nth-child(3n+2) .cart__productLogo::before{
        opacity: 0;
    }
    .cart__item:nth-child(3n) .cart__itemGraphic::before{
        right: -100px;
        top: -60px;
    }
}
@media (max-width:650px){
    .cart__body .container{
        padding: 0;
    }
    .cart__title{
        font-size: 70px;
        line-height: 80px;
        margin-top: 40px;
        margin-bottom: 295px;
        position: relative;
    }
    .cart__title::after{
        content:'';
        width: 175px;
        height: 140px;
        position: absolute;
        right: -100px;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: -10;
    }
    .cart__item{
        margin-bottom: 239px;
    }
    .cart__item:last-child{
        margin-bottom: 100px;
    }
    .cart__productLogo {
        position: absolute;
        left: 0px;
        right: auto;
        top: -190px;
    }
   
    .cart__productName{
        margin-top: 100px;
        margin-bottom: 20px;
        width: 100%;
    }
    .product__quantity{
        width: 95%;
        margin-bottom: 40px;
    }
    .cart__productPrice {
        width: 95%;
        text-align: right;
    }
    .cart__item:nth-child(3n+1) .cart__itemGraphic::after {
        width: 70px;
        top: auto;
        bottom: -50px;
        left: 0;
        right: auto;
        transform: rotate(180deg);
        z-index: 0;
    }
    .cart__item:nth-child(3n+2) .cart__itemGraphic::before {
        content: '';
        width: 164px;
        height: 171px;
        position: absolute;
        top: -68px;
        right: 24%;
        z-index: -10;
    }
    .cart__item:nth-child(3n+2) .cart__itemGraphic::after {
        display: none;
    }
    .cart__item:nth-child(3n+2) .cart__productLogo {
        position: relative;
        margin-bottom: -270px;
    }
    .cart__item:nth-child(3n) .cart__itemGraphic::before {
        width: 90px;
        top: -123px;
        right: -22px;
        z-index: -10;
    }
    .cart__summary::before{
        display: none;
    }
    .cart__summaryWrapper{
        padding: 0 15px;
    }
    .cart__summaryTitle{
        font-size: 70px;
        padding-right: 0;
        text-align: center;
        width: 100%;
    }
    .cart__summarySubtotal{
        width: 100%;
        margin: 50px 0;
    }
    .footer::after{
        display: none;
    }
}

@media (max-width: 414px){
    .cart__title::after{
        width: 150px;
    }
    .cart__item:nth-child(3n+2) .cart__itemGraphic::before {
        width: 122px;
        top: -68px;
        right: 11%;
    }
    .cart__item:nth-child(3n) .cart__itemGraphic::before{
        right: -45px;
    }
    .cart__summaryTitle {
        text-align: left;
        width: 100%;
        padding-top: 38px;
    }
    .cart__summarySubtotal{
        margin: 77px 0 87px;
    }
}
@media (max-width: 375px){
    .cart__title{
        padding-left: 10px;
    }
    .cart__productLogo, .cart__productName, .cart__productPrice, .product__quantity{
        padding-left: 25px;
    }
    .cart__item:last-child{
        margin-bottom: 50px;
    }

}