body{
    background-color: #1a1d40;
}
.header::before{
    background-image: url(../img/cart-v2--darkYellow/headerBefore.png);
}
.cart__top::after{
    background-image: url(../img/cart-v2--darkYellow/carTopAfter.png);
}
.cart__top--graphic::before{
    background-image: url(../img/cart-v2--darkYellow/cartTopGraphicBefore.png);
}
.cart__title{
    color: #edae49;
}
.cart__title::before{
    background-image: url(../img/cart-v2--darkYellow/cartTitleBefore.png);
}
.cart__body::before{
    background-image: url(../img/cart-v2--darkYellow/cartBodyBefore.png);
}
.cart__body::after{
    background-image: url(../img/cart-v2--darkYellow/cartBodyAfter.png);
}
.cart__item {
    background-color: #32408c;
}
.cart__item:nth-child(3n+1)::after{
    background-image: url(../img/cart-v2--darkYellow/firstItemAfter.png);
}
.cart__item:nth-child(3n+2)::after{
    background-image: url(../img/cart-v2--darkYellow/cartItem1After.png);
}
.cart__summaryTitle,
.cart__summaryTotal{
    color: #f2f2f2;
}
.cart__summarySubtotal{
    color: #c3c3c3;
}
.cart__summary::before{
    background-image: url(../img/cart-v2--darkYellow/cartSummaryBefore_.png);
}
.cart__summary::after{
    background-image: url(../img/cart-v2--darkYellow/cartSummarybefore.png);
}
.cart__summarySubtotal::before{
    background-image: url(../img/cart-v2--darkYellow/cartSummarySubtotalBefore.png);
}
.cart__item:nth-child(3n)::after{
    background-image: url(../img/cart-v2--darkYellow/cartItem3Mobile.png);
}
.cart__summaryTitle::after{
    background-image: url(../img/cart-v2--darkYellow/summaryAfter.png);

}
@media (max-width: 768px){
    .cart__top::after{
        background-image: url(../img/cart-v2--darkYellow/cartTopAfter--mobile.png);
    }
    .cart__top--graphic::before{
        background-image: url(../img/cart-v2--darkYellow/titlebefore.png);
    }
}