body{
    background-color: #1a1d40;
}
.checkout__title {
    color: #edae49;
}

.checkout__wrapper .wrapper--blue{
    background-color: #32408c;
}
.checkout__wrapper .wrapper--yellow{
    background-color: #edae49;
}
.checkout__main{
    background-image: url(../img/checkout--dark/checkoutBg.png);
}
.options__container{
    background-color: #32408c;
    color: #f2f2f2;
}
.selected{
    background-color: #f5f7ff;
}
.selected::after{
    box-shadow: 1px 1px #3a3f83;
}
.options__container::-webkit-scrollbar{
    background-color: #4c4d57;
}
.options__container::-webkit-scrollbar-thumb{
    background-color: #1a1d40;
}
.option:hover{
    color: #edae49;
}

@media (max-width: 1000px){
    .checkout__main{
        background:transparent;
    }
    .checkoutForm__wrapper:nth-child(1)::after,
    .checkoutForm__wrapper:nth-child(3)::after{
        background-image: url(../img/checkout--dark/mobileAfter.png);
    }
    .checkoutForm__wrapper:nth-child(4)::after{
        background-image: url(../img/checkout--dark/form4After.png);
    }
}