
.checkout__title {
    color: #0d0d0d;
}

.checkout__wrapper .wrapper--light{
    background-color: #95b8bf;
}
.checkout__wrapper .wrapper--dark{
    background-color: #2e5955;
}
.checkout__main{
    background-image: url(../img/checkout--darkGreen/checkoutBg.png);
}
.options__container{
    background-color: #f2da91;
    color: #0d0d0d;
}
.selected{
    background-color: #f5f7ff;
}
.selected::after{
    box-shadow: 1px 1px #2e5955;
}
.options__container::-webkit-scrollbar{
    background-color: #aaa;
}
.options__container::-webkit-scrollbar-thumb{
    background-color: #2e5955;
}
.option:hover{
    color: #2e5955;
}
@media (max-width: 1000px){
    .checkout__main{
        background:transparent;
    }
    .checkoutForm__wrapper:nth-child(1)::after,
    .checkoutForm__wrapper:nth-child(3)::after{
        background-image: url(../img/checkout--darkGreen/mobileAfter.png);
    }
    .checkoutForm__wrapper:nth-child(4)::after{
        background-image: url(../img/checkout--darkGreen/form4After.png);
    }
}
