.checkout__top {
    margin-top: 54px;
    margin-bottom: 30px;
}
.checkout__title {
    font-family: Heebo;
    font-size: 90px;
    font-weight: 700;
    margin-left: 30px;
}
.checkout__main .container{
    display: flex;
    justify-content: flex-end;
}
.checkout__main{
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
}
.checkout__wrapper {
    padding-right: 50px;
}
.checkout__wrapper form{
    padding: 50px 150px 65px 150px;
    margin-bottom: 55px;

}
.checkout__wrapper form input{
    padding: 20px;
    font-size: 18px;
    background-color: #f5f7ff;
    border-radius: 5px;
}
.checkout__wrapper form input::placeholder{
    color: #4c4d57;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}
.personalInformation {
    display: flex;
    flex-direction: column;
}
.personalInformation .title{
	margin-bottom: 30px;
}
.title {
    color: #f5f7ff;
    font-family: Heebo;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: -5px;
}
.address {
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 35px;
}
.address input:nth-child(2){
    grid-column: 1 / 3;
}
.contactInformation {
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: 35px;
}
.paymentInformation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 35px;

}
.paymentInformation span:nth-child(1){
    grid-column: 1 / 3;
}
.paymentInformation input:nth-child(2){
    grid-column: 1 / 3;
}
.paymentInformation input:nth-child(3){
    grid-column: 1 / 3;
}
.paymentInformation div:nth-child(5){
    grid-column: 1 / 2;
}
.paymentInformation div:nth-child(6){
    grid-column: 2 / 3;
}
.paymentInformation input:last-child{
    grid-column: 1 / 2;
}

.expiresON {
    position: relative;
    top: 20px;
    color: #f5f7ff;
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
}
.select{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    text-transform: uppercase;
    
    cursor: pointer;
}
.options__container{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #000;
    width: 100%;
    height: 240px;
    bottom: -236px;
    transition: all .5s ease-in-out;
    border-radius: 5px;
    overflow: hidden;
    max-height: 240px;
    opacity: 0;
    position: absolute;
    z-index: 10;
    transform: translateY(-60%) scaleY(0);
}
.selected{
    width: 100%;
    padding: 20px;
    line-height: 18px;
    background-color: #f5f7ff;
    color: #4c4d57;
    border-radius: 5px;
    position: relative;
    z-index: 11;
}
.selected::after{
    content: '';
    width: 13px;
    height: 13px;
    position: absolute;
    background-color: transparent;
    right: 20px;
    top: 40%;
    transform: translateY(-50%) rotate(45deg);
    transition: all .5s;
}
.options__container.active{
    opacity: 1; 
    overflow-y: scroll;
    transform: translateY(0) scaleY(1);
 }
 .selected.active::after{
    transform: translateY(40%) rotate(225deg);
 }
 .options__container::-webkit-scrollbar{
     width: 8px;
     background: #c3c3c3;
     border-radius: 0 5px 5px 0;
 }
 .options__container::-webkit-scrollbar-thumb{
     background: #7c7777;
     border-radius: 0 5px 5px 0;
 }
 .option{
     padding: 12px 24px;
     cursor: pointer;
 }
 .option label{
     cursor: pointer;
 }
 .option:hover{
 
 }
 .option .radio{
     display: none;
 }
.order__btn{
    margin-left: 150px;
}
.btn {
}
.btn--purple {
}
@media (max-width: 1800px){
    .checkout__title{
        margin-left: 0;
    }
    .checkout__wrapper{
        padding-right: 0;
    }
}
@media (max-width: 1025px){
    .checkout__top{
        margin-top: 10px;
    }
    .checkout__title{
        margin-left: 50px;
    }
}
@media (max-width:1000px){
    .checkout__title{
        margin-left: 0;
    }
    .checkout__top{
        margin-top: 25px;
    }
    
    .checkout__main{
        background-image:unset;
    }
    .checkout__main .container{
        justify-content: center;  
        width: 100%;  
        padding: 0;
    }
    .checkout__wrapper{
        padding-right: 0;
        width: 100%;
        display: inline-block;
    }
    .checkout__wrapper form{
        padding: 0;
        margin: 100px auto;
        padding: 50px 0;

    }
    .address .title,
    .contactInformation .title,
    .paymentInformation .title{
        margin-bottom: 0;
    }
    .checkout__wrapper form:first-child{
        padding: 0;
        margin: 0 auto;
        margin-bottom: 80px;
        padding: 52px 0 81px;

    }

    .checkoutForm__wrapper{
        position: relative;
        padding-left: 6%;
        padding-right: 6%;
    }
    .checkoutForm__wrapper:nth-child(1)::after,
    .checkoutForm__wrapper:nth-child(3)::after{
        content: '';
        width: 20px;
        height: 83px;
        position: absolute;
        top: -40px;
        right: 0;
        background-repeat: no-repeat;
        background-size: contain;
        
    }
    .checkoutForm__wrapper:nth-child(4)::after{
        content: '';
        width: 40px;
        height: 140px;
        position: absolute;
        right: 0;
        bottom: -20px;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .checkout__opder {
        display: flex;
        justify-content: flex-start;
        padding-left: 6%;
        padding-right: 6%;
    }
    .order__btn{
        margin-left: 0;
        margin-right: 120px;
        
    }
}
@media (max-width:650px){
    .checkout__top{
        margin-top: 72px;
        margin-bottom: 45px;
    }
    .checkout__title{
        font-size: 50px;
    }
    .checkout__wrapper form{
        width: 400px;
        margin: 70px auto;
    }
    .checkout__wrapper form input{
        padding: 16px 20px;
    }
    
    .title{
        font-size: 30px;
    }
    .address{
        grid-template-columns: 1fr;
    }
    .checkout__wrapper form:first-child{
        padding: 50px 0;
        margin-bottom: 63px;
    }
    .address input:nth-child(2) {
        grid-column: 1 / 2;
    }
    .checkout__opder{
        margin-bottom: 150px;

    }
    .order__btn{
        margin-left: 0;
        margin-right: 30px;
    }
    .footer {
        padding-top: 0;
    }

}
@media (max-width:414px){
    .checkout__wrapper form{
        width: 100%;
        margin: 50px auto;
    }
    .paymentInformation input:last-child{
        width: 150px;
    }
    .order__btn{
        margin-left: 0;
        margin-right: 0;
    }
    .select--month{
        grid-column: 1 / 3;
    }
    .select--year{
        grid-column: 1 / 3;
    }
}
@media (max-width:375px){
    .footer .container{
        width: 320px;
    }
    .checkout__wrapper form{
        width: 300px;
    }
}