.topSection {
    background-image: url(../img/home--yellow/homeBg.png);
}
.about__title,
.about__subtitle {
    color: #2e5955;
}
.about__text{
    color: #0d0d0d;
}
.about__item:nth-child(1)::before{
    background-color: #95b8bf;
}
.about__item:nth-child(1)::after{
    background-image: url(../img/home--yellow/aboutItem1Before.png);
}
.about__item:nth-child(1) .about__img .about__imgWrapper::before{
    background-image: url(../img/home--yellow/aboutImg1Before.png);
}
.about__item:nth-child(2)::before{
    background-color: #95b8bf;
}
.about__item:nth-child(2)::after{
    background-image: url(../img/home--yellow/aboutItem2After.png);
}
.about__item:nth-child(2) .about__img .about__imgWrapper::before{
    background-image: url(../img/home--yellow/aboutImg2Before.png);
}

.featured__title {
    color: #a68549;
}
.featured__btn{
    background-color: #a68549;
}
.product--button{
    background-color: #a68549;
}
.featured::before{
    background-image: url(../img/home--yellow/featuredBefore.png);
}
.featured__block::before{
    background-image: url(../img/home--yellow/featuredBlockBefore.png);

}
.blog__title{
    color: #2e5955;
}
.blog__title span{
    color: #95b8bf;
}
.blog__row:nth-child(1)::before{
    background-image: url(../img/home--yellow/blogRow1Before.png);
}
.blog__row:nth-child(2)::before{
    background-image: url(../img/home--yellow/blogRow2before.png);
}
.blog__row:nth-child(3)::before{
    background-image: url(../img/home--yellow/blogRow3Before.png);
}
.blog__button::before{
    background-image: url(../img/home--yellow/blogButtonBefore.png);
}
.contact::before{
    background-image: url(../img/home--yellow/contactBefore.png);
}
.contact::after{
    background-image: url(../img/home--yellow/contactAfter.png);
}
.contact__wrapper::before{
    background-color: #f2da91;
}
.contact__title::before{
    background-image: url(../img/home--yellow/contactTitleBefore.png);
}
.contact__title,
.contact__name,
.contact__info{
    color: #0d0d0d;
}
.newsletter__form {
    background-color: #a68549;
}
.newsletter__form::before{
    background-image: url(../img/home--yellow/newsletterFormBefore.png);
}
@media (max-width: 1320px){
    .contact{
        background-color: #f2da91;
    }
    .contact::before{
        z-index: 2;
    }
}
@media (max-width: 650px){
    .topSection{
        background-image: url(../img/home--yellow/mobileBg.png);
    }
}
@media (max-width: 650px){
    .contact{
        background-color: transparent;
    }
    .contact__wrapper{
        background-color: #f2da91;
    }
    .contact__block::before{
        background-image: url(../img/home--yellow/contactBlockBefore.png);
    }
    .newsletter{
        background-color: #a68549;
    }
    .newsletter__form{
        background-color:transparent;
    }
}