.topSection {
    height: 1145px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -104px;
}
.topSection__wrapper {
    display: flex;
    padding-top: 430px;
    align-items: flex-start;
    justify-content: space-around;
}
.topSection__title {
    color: #f5f7ff;
    font-family: Heebo;
    font-size: 140px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 205px;
    letter-spacing: 14px;
}
.topSection__title span{
    display: block;
    margin-left: 74px;
}
.topSection__wrapper img{
    position: relative;
    top: -139px;
    left: -60px;
}
.topSection__button {
    position: relative;
    top: -30px;
    display: flex;
    justify-content: flex-end;
}

.about {
    margin-top: 110px;
    
}
.about__item{
    padding-bottom: 200px;
    position: relative;
}
.about__wrapper{
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
}
.about__item .about__img .about__imgWrapper{
    align-items: flex-start;
}
.about__info {
    width: 70%;
    margin-top: 80px;
    padding-left: 65px;
}
.about__subtitle {
    color: #151730;
    font-size: 30px;
    font-weight: 700;
    display: block;
    padding-top: 20px;
}
.about__title {
    font-family: Heebo;
    font-size: 100px;
    font-weight: 700;
    margin-bottom: 15px;
}
.about__text {
    font-weight: 300;
    line-height: 36px;
    margin-bottom: 100px;
}
.about__item:nth-child(1) .about__text {
    width: 46%;
}
.about__item:nth-child(1) .about__img {
    position: absolute;
    right: 0;
    z-index: -10;
}
/* .about__item:nth-child(1){
    position: relative;
} */
.about__item:nth-child(1)::before{
    content: '';
    width: 463px;
    height: 484px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -10;
}
.about__item:nth-child(1)::after{
    content: '';
    width: 199px;
    height: 37px;
    position: absolute;
    left: 0;
    bottom: 50px;
    z-index: -10;
    background-size: contain;
}
.about__item .about__img .about__imgWrapper{
    display: block;
    position: relative;
}
.about__item:nth-child(1) .about__img .about__imgWrapper::before{
    content: '';
    width: 230px;
    height: 212px;
    position: absolute;
    top: 180px;
    right: -120px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -10;
}
.about__item:nth-child(2){
    margin-top: 250px;
}
.about__item:nth-child(2) .about__info{
    margin-left: 110px;
    margin-top: 0px;
}
.about__item:nth-child(2)::before{
    content: '';
    width: 332px;
    height: 396px;
    position: absolute;
    left: 0;
    bottom: 110px;
    z-index: -10;
}
.about__item:nth-child(2)::after{
    content: '';
    width: 428px;
    height: 143px;
    position: absolute;
    bottom: 50px;
    right: 0;
    z-index: -10;
    background-size: contain;
    background-repeat: no-repeat;
}
.about__item:nth-child(2) .about__img .about__imgWrapper::before{
    content: '';
    width: 199px;
    height: 181px;
    position: absolute;
    top: -65px;
    right: -60px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -10;
}


.featured {
    margin-top: 130px;
    position: relative;
}
.featured::before{
    content: '';
    width: 103px;
    height: 79px;
    position: absolute;
    right: 0;
    bottom: -79px;
    z-index: -10;
    background-size: contain;
}
.featured__title {
    font-family: Heebo;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 50px;
}
.featured__block {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.featured__block::before{
    content: '';
    width: 101px;
    height: 48px;
    position: absolute;
    bottom: 0;
    right: -35px;
    z-index: -10;
    background-size: contain;

}

.blog{
    margin-top: 320px;

}
.blog__row{
    position: relative;
}
.blog__wrapper{
    display: flex;
}
.blog__title{
    font-family: Heebo;
    font-size: 313px;
    font-weight: 700;
    line-height: 0.64;
    position: relative;
}
.blog__title span{
    display: block;
    padding-left: 132px;
    position: relative;
    z-index: -10;
}
h4.blogNews__title{
    margin: 10px 0;
}
.blog__row:nth-child(1) .blog__wrapper{
    justify-content: space-between;
}
.blog__row:nth-child(1)::before{
    content: '';
    width: 142px;
    height: 93px;
    position: absolute;
    bottom: 140px;
    left: 0;
    background-size: contain;
}
.blog__row:nth-child(2) .blogNews__item:nth-child(1){
    margin-top: 36px;
    margin-right: 150px;
    z-index: 10;

}
.blog__row:nth-child(2)::before{
    content: '';
    width: 144px;
    height: 103px;
    position: absolute;
    bottom: 230px;
    right: 0;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -9;
}
.blog__row:nth-child(3){
    top: -170px;
}
.blog__row:nth-child(3)::before {
    content: '';
    width: 250px;
    height: 276px;
    position: absolute;
    top: -103px;
    right: 0;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -10;
}
.blog__button{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.blog__button::before{
    content: '';
    width: 225px;
    height: 46px;
    position: absolute;
    bottom: -100px;
    right: 360px;
    z-index: -10;
    background-size: contain;
    background-repeat: no-repeat;
}

.contact {
    color: #f5f7ff;
    padding-bottom: 300px;
    position: relative;
    margin-top: 190px;
}
.contact::before{
    content: '';
    width: 164px;
    height: 411px;
    position: absolute;
    left: 0;
    bottom: -172px;
    z-index: -9;
    background-repeat: no-repeat;
    background-size: contain;
}
.contact::after{
    content:'';
    width: 130px;
    height: 82px;
    position: absolute;
    right: 0;
    top: 300px;
    z-index: -9;
    background-repeat: no-repeat;
    background-size: contain;
}
.contact__wrapper {
    position: relative;
}
.contact__wrapper::before{
    content: '';
    width: 1469px;
    height: 707px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;

}
.contact__title {
    font-family: Heebo;
    font-size: 100px;
    font-weight: 700;
    margin-left: 130px;
    padding-top: 170px;
    position: relative;
}
.contact__title::before{
    content: '';
    width: 264px;
    height: 125px;
    position: absolute;
    top: 70px;
    right: 200px;
    z-index: -9;
    background-size: contain;
    background-repeat: no-repeat;
}
.contact__block {
    display: flex;
    margin-left: 130px;
    margin-top: 10px;
    margin-bottom: 45px;
}
.contact__item {
    display: flex;
    flex-direction: column;
    margin-right: 140px;
}
.contact__name {
    font-family: Heebo;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    
}
.contact__info {
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
}

.newsletter {
}
.newsletter__wrapper {
    display: flex;
    justify-content: flex-end;
}
.newsletter__form {
    width: 750px;
    height: 480px;
    padding: 90px 100px;
    position: relative;
    right: 46px;
    top: -155px;
}
.newsletter__form::before{
    content: '';
    width: 205px;
    height: 95px;
    position: absolute;
    bottom: -44px;
    left: -130px;
    z-index: -10;
    background-size: contain;

}
.newsletter__title{
    color: #f5f7ff;
    font-family: Heebo;
    font-size: 50px;
    font-weight: 700;
    width: 350px;
    margin-bottom: 35px;
    line-height: 60px;
}
.newsletter__formWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.newsletter__form input[type=text]{
    width: 385px;
    height: 54px;
    border-radius: 5px;
    background-color: #f5f7ff;
    text-transform: uppercase;
    padding-left: 20px;
    letter-spacing: 2px;
}

.newsletter__form input::placeholder{
    color: #4c4d57;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
}
.footer{
    padding-top: 0;
}
@media (max-width: 1920px){
    .topSection{
        height: 870px;
        margin-bottom: 80px;
    }
    .topSection__wrapper{
        padding-top: 200px;
    }
    .topSection__title{
        font-size: 100px;
        padding-top: 160px;
        line-height: 140px;
        margin-right: 0;
    }
    .topSection__wrapper img{
        position: static;
        width: 600px;
        height: auto;
    }
    .topSection__button {
        position: static;
        margin-top: 85px;
        margin-right: 0;
    }
    .about{
        margin-top: 0;
    }
    .about__item{
        padding-bottom: 150px;
    }
    .about__title{
        font-size: 90px;
        margin-bottom: 20px;
    }
    .about__text{
        margin-bottom: 40px;
    }
    .about__subtitle{
        padding-top: 0;
    }
    .about__item .about__img .about__imgWrapper {
        display: flex;
        position: relative;
        justify-content: center;
    }
    .about__item:nth-child(1)::before{
        height: 400px;
        bottom: 60px;
    }
    .about__item:nth-child(1) .about__info{
        padding-left: 0;
    }
    .about__item:nth-child(1) .about__title{
        padding-top: 0;
        
    }
    .about__item:nth-child(1) .about__img{
        right: -30px;
    }
    .about__item:nth-child(1) .about__img img{
        width: 80%;
        height: auto;
    }
    
    .about__item:nth-child(1) .about__img .about__imgWrapper::before {
        width: 200px;
        top: 130px;
        right: -40px;
    }
    .about__item:nth-child(1) .about__text {
        width: 51%;
    }
    .about__item:nth-child(2) {
        margin-top: 140px;
    }
    .about__item:nth-child(2)::before {
        height: 350px;
        bottom: 15px;
    }
    .about__item:nth-child(2) .about__info{
        margin-left: 0;
    }
    .about__item:nth-child(2) .about__img img{
        width: 790px;
    }
    .about__item:nth-child(2) .about__text {
        width: 100%;
    }
    .featured{
        margin-top: 90px;
    }
    .featured__block::before{
        bottom: -54px;
    }
    .featured::before{
        bottom: -120px;
    }
    .blog{
        margin-top: 200px;
    }
    .blog__title{
        font-size: 260px;
    }
    .newsletter::before{
        width: 1100px;
    }
    .newsletter__wrapper{
        position: relative;
        padding: 113px 90px 200px 0;
    }
    .blogNews::before {
        right: 100px;
    }
    .blogNews__item:nth-child(3) {
        position: relative;
        top: -200px;
    }
    .blogNews__button{
        top: 0;
        padding-bottom: 100px;
    }
    .contact{
        padding-bottom: 0;
        margin-top: 80px;
    }
    .contact::before{
        width: 130px;
    }
    .contact__wrapper::before {
        width: 1250px;
        height: 500px;
        top: 40px;
    }
    .contact__title{
        font-size: 90px;
        margin-left: 100px;
        padding-top: 150px;
    }
    .contact__title::before{
        width: 220px;
        right: 50px;
    }
    .contact__block{
        margin-left: 100px;
        width: 60%;
    }
    .contact__item {
        margin-bottom: 50px;
        margin-right: 100px;
    }
    .contact__item:last-child{
        margin-right: 0;
    }
    .newsletter__wrapper {
        padding: 129px 4px 0 0;
    }
}
@media(max-width: 1792px){
    .product__img{
        width: 366px;
        height: 446px;
    }
    .topSection{
        margin-bottom: 50px;
    }
    .topSection__wrapper{
        justify-content: space-around;
    }
}
@media(max-width:1600px){
    .topSection{
        margin-bottom: 0;
    }
    .about{
        margin-top: 70px;
    }
    .about__title{
        font-size: 70px;
        line-height: 80px;
    }
    .about__item:nth-child(2){
        margin-top: 150px;
    }
    .about__item:nth-child(2)::after{
        width: 350px;
    }
    .about__title{
        margin-bottom: 25px;
    }
    .featured{
        margin-top: 20px;
    }
    .featured::before{
        width: 85px;
    }
    .featured__block::before{
        width: 80px;
    }
    .blog{
        margin-top: 180px;
    }
    .contact{
        margin-top: 20px;
    }
    .contact::before{
        width: 120px;
        bottom: -390px;
    }
}
@media(max-width:1440px){
    .featured__block::before{
        right: 50px;
    }
    .blog__title{
        font-size: 236px;
    }
    .blog__title span{
        padding-left: 98px;
    }
    .blog__row:nth-child(1)::before{
        width: 110px;
        bottom: 110px;
    }
}
@media (max-width: 1366px){
    .topSection__wrapper{
        padding-top: 155px;

    }
    .topSection__title{
        margin-left: 50px;
    }
    
    .about__item:nth-child(1) .about__img img {
        width: 80%;
    }
    .about__item:nth-child(1) .about__title{
        margin-bottom: 10px;
    }
    .about__item:nth-child(1) .about__img {
        right: -120px;
    }
    .about__item:nth-child(1)::after{
        width: 150px;
    }.about__item:nth-child(1)::before {
        width: 300px;
        height: 300px;
        bottom: 50px;
    }
    .about__item:nth-child(2){
        margin-top: 70px;
    }
    .about__item:nth-child(2) .about__img .about__imgWrapper::before {
        width: 130px;
        top: -45px;
        right: -51px;
    }
    .about__item:nth-child(2)::before {
        width: 230px;
        height: 290px;
        bottom: 90px;
    }
    .about__item:nth-child(2)::after {
        width: 240px;
        bottom: 25px;

    }
    .featured{
        margin-top: 0;
    }
    .featured__block::before{
        right: 90px;
    }
    .contact::after{
        width: 90px;
    }
    .contact__title::before{
        width: 130px;
        right: 20px;
    }
    .newsletter__form::before{
        width: 160px;
        bottom: -57px;
        left: -105px;
    }
}
@media (max-width: 1320px){
    
    .topSection{
        height: 670px;
        margin-bottom: 50px;
    }
    .topSection__title {
        font-size: 70px;
        line-height: 100px;
        padding-top: 0;
        letter-spacing: 8px;
    }
    .topSection__wrapper{
        padding-top: 220px;
    }
    .topSection__wrapper img{
        width: 450px;
        top: -90px;
        left: -25px;
        position: relative;
    }
    .topSection__button{
        position: relative;
        top: -80px;
        margin-right: 0;
        margin-top: 20px;
    }
    .about{
        margin-top: 0;
    }
    .about__item{
        padding-bottom: 0;
    }
    .about__title{
        margin-bottom: 0;
    }
    
    .about__item:nth-child(1)::before {
        width: 250px;
        height: 250px;
        bottom: 0;
    }
    .about__item:nth-child(1)::after {
        width: 180px;
        bottom: -100px;
    }
    .about__item:nth-child(1) .about__img img {
        width: 70%;
    }
    .about__item:nth-child(1) .about__img {
        transform: translateX(321px);
    }
    .about__item:nth-child(1) .about__img .about__imgWrapper::before {
        width: 170px;
        top: 94px;
        right: 266px;
    }
    .about__item:nth-child(1) .about__img img {
        width: 63%;
    }
    .about__item:nth-child(1) .about__text {
        width: 46%;
    }
    .about__item:nth-child(2) {
        margin-top: 150px;
    }
    .about__item:nth-child(2)::before {
        width: 200px;
        height: 200px;
        bottom: 30px;
        z-index: -10;
    }
    .about__item:nth-child(2)::after {
        width: 270px;
        bottom: -160px;
    }
    .about__item:nth-child(2) .about__img img {
        width: 115%;
        height: auto;
    }
    .about__item:nth-child(2) .about__img .about__imgWrapper::before {
        width: 140px;
        right: -104px;
    }
    .featured{
        margin-top: 200px;
    }
    .featured::before{
        width: 62px;
        bottom: -85px;
    }
    .featured__title{
        margin-bottom: 40px;
    }
    .featured__block::before {
        right: 60px;
        width: 52px;
        bottom: -15px;
    }
    .btn__product {
        margin-left: 1px;
    }
    .blog__title {
        font-size: 172px;
        margin-right: 40px;
    }
    .blogNews__img img{
        width: 95%;
    }
    .blog__row:nth-child(2) .blogNews__item:nth-child(1) {
        margin-right: 80px;
    }
    .blog__row:nth-child(3)::before {
        width: 100px;
        top: -26px;
    }
    .blog__row:nth-child(2)::before {
        width: 60px;
        bottom: 115px;
    }
    .blog__button::before {
        width: 180px;
        bottom: -80px;
        right: 160px;
    } 
    .contact{
        padding: 150px 0;

    }
    .contact__wrapper{
        padding-top: 0;
    }
    .contact__title{
        padding: 0;
    }
    .contact__block{
        margin: 0;
        padding: 0 100px;
        justify-content: space-between;
    }
    .contact__item{
        margin-right: 0;
    }
    .contact__name{
        margin-bottom: 20px;
    }
    .contact__title::before{
        width: 200px;
        top: -10px;
    }
    .newsletter__wrapper{
        margin-bottom: -70px;
    }
    .newsletter__form{
        right: 7px;
        top: -200px;
    }
}
@media (max-width: 1050px){
    .topSection{
        margin-bottom: 0;
        height: 600px;
    }
    .topSection__wrapper{
        padding-top: 210px;
    }
    .topSection__title{
        padding-top: 22px;
    }
    .topSection__button{
        top: -120px;
        margin-top: 40px;
    }
    
    .about__item .about__img .about__imgWrapper{
        justify-content: flex-start;
    }
    .about__item:nth-child(1){
        margin-bottom: 110px;
    }
    .about__item:nth-child(1)::before {
        width: 200px;
        height: 200px;
        bottom: 140px;
    }
    .about__item:nth-child(1) .about__img img {
        width: 56%;
    }
    .about__item:nth-child(1) .about__img .about__imgWrapper::before {
        right: -240px;
    }
    .about__item:nth-child(1)::after{
        width: 125px;
        bottom: -70px;
    }
    .about__info{
        margin-top: 15px;
    }
    .about__item:nth-child(2) .about__img img {
        width: 100%;
    }
    .about__item:nth-child(2)::before{
        bottom: 100px;
        width: 170px;
        height: 230px;
    }
    .about__item:nth-child(2)::after{
        width: 220px;
    }
    .about__item:nth-child(2) .about__img .about__imgWrapper::before{
        width: 100px;
        right: -35px;
        top: -31px;

    }
    .featured{
        margin-top: 110px;
    }
    .featured::before{
        bottom: -130px;
    }
    .featured__block::before{
        width: 60px;
        right: 60px;
        bottom: -75px;
    }
    .blog{
        margin-top: 150px;
    }
    .blog__row:nth-child(1)::before {
        width: 80px;
    }
    .contact{
        margin-top: 0;
        padding: 100px 0;
    }
    .contact__block{
        width: 100%;
    }
    .contact::before{
        z-index: 1;
    }
    .contact__wrapper::before{
        height: 400px;
    }
    .newsletter__title{
        width: 100%;
    }
    .newsletter__form{
        padding: 80px 80px;
        height: 380px;
    }
}

@media (max-width: 812px){
    .topSection{
        height: auto;
        margin-bottom: 0;
    }
    .topSection__wrapper{
        margin-left: 0;
        padding-top: 126px;
        display: flex;
        flex-direction: column-reverse;
    }
    .topSection__title{
        text-align: left;
        line-height: 80px;
        margin-top: 0;
        padding-top: 0;
    }
    .topSection__title span{
        margin-left: 145px;
    }
    .topSection__wrapper img {
        position: static;
        margin: 0 auto;
        width: 400px;
    }
    .topSection__button{
        position: static;
        padding-top: 0;
        padding-bottom: 80px;
        margin-top: 40px;
    }
    .about__item .container{
        width: 100%;
        padding: 0 40px;
    }
    .about__item .about__wrapper{
        flex-direction: column;
    }
    .about__info{
        width: 100%;
        margin-top: 0;
        padding-left: 0;
    }
    .about__text{
        margin-bottom: 50px;
    }
    .about__item{
        margin-bottom: 400px;
    }
    .about__title{
        margin-bottom: 40px;
        line-height: 1.2;
    }
    .about__item:nth-child(1){
        margin-top: -50px;
    }
    .about__item:nth-child(1)::before {
        width: 299px;
        height: 300px;
        bottom: -40px;
    }
    .about__item:nth-child(1)::after {
        bottom: -220px;
    }
    .about__item:nth-child(1) .about__img {
        position: relative;
        transform: translateX(-160px);
    }   
    .about__item:nth-child(1) .about__img .about__imgWrapper::before {
        right: 0;
        opacity: 0;
    }
    .about__item:nth-child(1) .about__img img {
        width: 100%;
    }
    .about__item:nth-child(1) .about__text {
        width: 100%;
        margin-top: 30px;
    }
    .about__item:nth-child(1) .about__info .btn{
        position: absolute;
        bottom: -150px;
    }
    .about__item:nth-child(2) {
        margin-top: 270px;
        margin-bottom: 340px;
    }
    .about__item:nth-child(2) .about__wrapper{
        flex-direction: column-reverse;
    }
    .about__item:nth-child(2) .about__title {
        margin-bottom: 30px;
    }
    .about__item:nth-child(2) .about__info {
        margin-left: 0;
    }
    .about__item:nth-child(2) .about__text {
        width: 100%;
        margin-bottom: 30px;
    }
    .about__item:nth-child(2) .about__info .btn{
        position: absolute;
        bottom: -150px;
    }
    .about__item:nth-child(2) .about__img{
        margin-top: 20px;
    }
    .about__item:nth-child(2) .about__img img {
        width: 101%;
    }
    .about__item:nth-child(2) .about__img .about__imgWrapper {
        right: -37px;
    }
    .about__item:nth-child(2) .about__img .about__imgWrapper::before {
        right: -53px;
        width: 124px;
        top: -54px;
    }
    .about__item:nth-child(2)::after {
        bottom: -320px;
    }
    .about__item:nth-child(2)::before{
        bottom: -40px;
    }
    .blog{
        margin-bottom: 200px;
    }
    .blog__wrapper{
        flex-direction: column;
    }
    .blogNews__item{
        margin-bottom: 70px;
        right: -190px;
    }
    .blog__title{
        margin-bottom: 100px;
        font-size: 205px;
    }
    .blog__title span {
        padding-left: 85px;
    }
    .blogNews__img img {
        width: 70%;
    }
    .blogNews__item .btn {
        padding: 20px 25px;
    }
    .blog__row:nth-child(1)::before{
        display: none;
    }
    .blog__row:nth-child(2) .blogNews__item:first-child{
        right: 0;
    }
    .blog__row:nth-child(2)::before {
        width: 80px;
        bottom: 0px;
    }
    .blog__row:nth-child(3) {
        top: 0;
    }
    .blog__button{
        justify-content: center;
    }
    .blog__button::before {
        width: 220px;
        bottom: -100px;
        right: 55%;
    }
    .blog__row:nth-child(3)::before {
        width: 245px;
        top: -103px;
    }
    .contact::before{
        width: 100px;
        bottom: -200px;
    }
    .contact__title{
        margin-left: 0;
    }
    .contact__block{
        padding: 0;
        width: 100%;
    }
    .newsletter__form {
        top: -200px;
        transform: translateX(108px);
    }
    .newsletter__title{
        width: 100%;
    }
    .newsletter__form{
        padding: 90px 80px; 
        height: 390px;
    }
    .newsletter__title{
        line-height: 1.2;
    }
    .newsletter__form input[type=text] {
        margin-right: 30px;
    }
    .newsletter__formWrapper .btn{
        padding: 15px 20px;
        font-size: 16px;
        letter-spacing: 3px;
    }
    .newsletter__formWrapper .btn:hover{
        margin-right: 0;
    }

    .newsletter__form::before{
        display: none;
    }

}

@media (max-width: 650px){
    .topSection__wrapper{
        padding-top: 210px;
    }
    .topSection__title{
        font-size: 40px;
        text-align: left;
        letter-spacing: 6px;
        margin-left: 17px;
        line-height: 60px;
    }
    .topSection__title span{
        margin-left: 50px;
    }
    
    .topSection__wrapper img{
        width: 325px;
        margin-left: 73px;
    }
    .about__title{
        margin: 30px 0;
        line-height:60px;
        font-size: 50px;
    }
    .about__item:nth-child(1) .about__img .about__imgWrapper::before {
        right: -50px;
        top: -60px;
    }
    .about__item:nth-child(1)::before {
        width: 200px;
        height: 200px;
    }
    .about__item:nth-child(1) .about__text {
        width: 150%;
    }
    .about__item:nth-child(2) .about__text {
        width: 150%;
    }
    .about__item:nth-child(1) .about__img {
        transform: translateX(-140px);
    }
    .about__item:nth-child(1) .about__img img {
        width: 110%;
    }
    .about__item:nth-child(2) .about__img img {
        width: 110%;
    }
    .about__item:nth-child(2)::after {
        bottom: -330px;
    }
    .blog{
        margin-top: 105px;
    }
    .blog__title{
        font-size: 110px;
        margin-left: 0;
        margin-bottom: 66px;
    }
    .blog__title span{
        padding-left: 47px;
        padding-top: 2px;
    }
    .blogNews__item {
        margin-bottom: 60px;
        right: -130px;
    }
    h4.blogNews__title{
        font-size: 24px;
        margin-bottom: 15px;
    }
    .blog__row:nth-child(3)::before{
        width: 141px;
        top: -13px;  
    }
    .blog__row:nth-child(2)::before {
        width: 49px;
        bottom: -61px;
    }
    .blog__button{
        padding-top: 35px;
    }
    .blog__button::before {
        right: 66%;
        width: 132px;
        bottom: -93px;
    }
    .contact{
        background-color: transparent;
        padding-top: 0;
    }
    .contact::before{
        width: 69px;
        z-index: 1;
    }
    .contact::after{
        z-index: 1;
        width: 81px;
        top: 153px;
        right: -35px;
    }
    .contact__wrapper{
        width: 87%;
        padding: 130px 100px;
    }
    .contact__wrapper::before{
        display: none;
    }
    .contact__title{
        font-size: 50px;
        margin-bottom: 50px;
    }
    .contact__title::before{
        width: 110px;
        z-index: 1;
        top: -80px;
        right: 73px;
    }
    .contact__block{
        flex-direction: column;
    }
    .contact__block::before{
        content: '';
        width: 58px;
        height: 36px;
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        right: -54px;
        top: 61%;
    }
    .contact__item:last-child{
        margin-bottom: 0;
    }
    .newsletter{
        margin-bottom: 100px;
    }
    .newsletter__wrapper{
        margin-bottom: 0;
    }
    .newsletter__title{
        font-size: 30px;
    }
    .newsletter__form{
        width: 100%;
        height: auto;
        top: 0;
        padding: 0;
        position: static;
        transform: translate(0);
    }
    .newsletter__form input[type=text] {
        width: 250px;
        margin-right: 0;
    }
    .newsletter__formWrapper{
        padding-bottom: 58px;
    }
}
@media (max-width: 414px){
    .topSection__wrapper {
        padding-top: 188px;
    }
    .topSection__wrapper img{
        margin-left: 20px;
    }
    .topSection__title{
        margin-top: -3px;
        margin-left: 5px;
        letter-spacing: 4px;
    }
    .topSection__title span{
        margin-left: 84px;
    }
    .topSection__button{
        padding-top: 17px;
        margin-right: 12px;
        padding-bottom: 129px;
    }
    .featured__title{
        font-size: 40px;
    }
    .about__item{
        margin-bottom: 340px;
    }
    .about__info{
        padding-left: 0;
    }
    .about__subtitle{
        font-size: 18px;
    }
    .about__title{
        margin: 0;
        padding-bottom: 15px;
        font-size: 50px;
    }
    .about__text{
        margin-bottom: 72px;
    }
    .about__item:nth-child(1) {
        margin-top: -22px;
    }
    .about__item:nth-child(1) .about__img {
        transform: translateX(-161px);
    }
    .about__item:nth-child(1) .about__title{
        letter-spacing: 1px;
    }
    .about__item:nth-child(1) .about__text {
        width: 100%;
        margin-top: -5px;
    }
    .about__item:nth-child(1) .about__img .about__imgWrapper::before {
        right: -141px;
        top: -45px;
        opacity: 1;
    }
    .about__item:nth-child(1)::after {
        bottom: -238px;
        width: 108px;
    }
    .about__item:nth-child(1) .about__info .btn,
    .about__item:nth-child(2) .about__info .btn {
        position: absolute;
        bottom: -145px;
    }
    .about__item:nth-child(2){
        margin-top: 300px;
    }
    .about__item:nth-child(2) .about__info {
        width: 100%;
    }
    .about__item:nth-child(2) .about__title {
        margin-bottom: 10px;
    }
    .about__item:nth-child(2) .about__text{
        width: 100%;
        margin-bottom: 54px;
    }
    .about__item:nth-child(2) .about__img .about__imgWrapper{
        right: 0;
    }
    .about__item:nth-child(2) .about__img img {
        width: 110%;
    }
    .about__item:nth-child(2)::before {
        width: 171px;
        height: 157px;
        bottom: -40px;
    }
    .about__item:nth-child(2)::after{
        width: 200px;
    }
    .featured{
        margin-bottom: 216px;
    }
    .featured__title{
        font-size: 30px;
    }
    .featured::before{
        bottom: -152px;
    }
    .featured__block::before{
        bottom: -94px;
    }
    .product__img {
        width: 245px;
        height: 285px;
    }
    .blog {
        margin-top: -50px;
    	margin-bottom: 150px;
 
    }
    .blog__row:nth-child(2) .blogNews__item:first-child {
        right: -5px;
    }
    .blogNews__item{
        right: -105px;
        margin-bottom: 40px;
    }
    .blog__row:nth-child(2) .blogNews__item:nth-child(1){
        margin-top: 0;
    }
    .blogNews__item .btn{
        padding: 15px 22px;
    }
    .contact__name {
        margin-bottom: 10px;
    }
    .newsletter__wrapper{
        padding: 60px 0 0 0 ;
    }
    .newsletter__formWrapper .btn{
        letter-spacing: 1px;
    }
    .newsletter__form input[type=text] {
        height: auto;
        width: 60%;
        padding: 16px 20px;
    }

}
@media (max-width: 375px){
    .container{
        width: 320px;
    }
    .topSection__wrapper img{
        margin-left: 0;
        width: 320px;
    }
    .topSection__title{
        margin-left: 0;
        letter-spacing: 3px;
        font-size: 36px;
    }
    .about__title{
        font-size: 34px;
    }
    .featured{
        margin-bottom: 170px;
    }
    .featured__btn {
        width: 245px;
        height: 285px;
    }
    .blog__title{
        font-size: 95px;
        margin-bottom: 40px;
    }
    .blog__title span{
        padding-left: 39px;
    }
    .blogNews__item {
        right: -96px;
    }
    .blog__button .btn{
        padding: 16px 18px
    }
    .blog__button .btn svg{
        margin-left: 15px;
    }
    .contact__wrapper{
        width: 87%;
        padding: 130px 60px;
    }
    .newsletter__form input[type=text] {
        margin-right: 10px;
    }
    .newsletter__form input[type=submit] {
        margin-right: 10px;
    }

    .newsletter__formWrapper .btn:hover {
        margin-right: 20px;
    }
  
}
.btn .added{
    bottom: 70%;
}
.btn.click-added .added{
    bottom: 78%;
}
@media(max-width: 414px){
    .btn .added{
        width: 130%;
    }
    .btn.click-added .added{
        bottom: 100%;
    }
}