body{
    background-color: #1a1d40;
}
.header {
    background-color: #1a1d40;
}
.topSection {
    background-image: url(../img/home--dark--v2/homeBg.png);

}

.topSection__botle--wrapper::after{
    background-image: url(../img/home--dark--v2/botleAfter.png);
}
.featured__block::after{
    background-image: url(../img/home--dark--v2/featuredGraphic.png);
}
.featured__title {
    color: #edae49;
}
.product__name{
    color: #f2f2f2;
}
.product__price--old,
.product__price--new{
    color: #c3c3c3;
}
.about{
    background-color: #32408c;
}
.about::after {
    background-image: url(../img/home--dark--v2/aboutAfter.png);
}
.about__title {
    color: #f2f2f2;
}
.about__subtitle{
    color: #f2f2f2;
}
.about__text{
    color: #c3c3c3;
}

.about__item:first-child .about__info::before{
    background-image: url(../img/home--dark--v2/aboutInfoBefore.png);
    
}
.about__item:first-child .about__info::after{
    background-image: url(../img/home--dark--v2/aboutInfoAfter.png);
    
}
.about__item:first-child .about__img::before{
    background-image: url(../img/home--dark--v2/graphic_750.png);
}

h3.blogNews__title{
    color: #edafb8;
}

.blogNews::before{
    background-image: url(../img/home--dark--v2/blogBefore.png);
}
.blogNews__date{
    color: #c3c3c3;
}
h4.blogNews__title{
    color: #f2f2f2;
}
.blogNews__item:first-child::before{
    background-image: url(../img/home--dark--v2/blogItem1.png);

}
.blogNews__item:nth-child(3):before{
    background-image: url(../img/home--dark--v2/blogItem3.png);
}
.newsletter::before{
    background-color: #edae49;
}
.newsletter__inner::before{
    background-image: url(../img/home--dark--v2/newsletterBefore.png);
}
.newsletter__inner::after{
    background-image: url(../img/home--dark--v2/newsletterAfter.png);
}
.newsletter__input{
    color: #1a1d40;
}
.contact__title {
    color: #f2f2f2;
}
.contact::before{
    background-color: #32408c;
}
.contact::after{
    background-image: url(../img/home--dark--v2/contactInfo.png);
}
.contact__img::before{
    background-image: url(../img/home--dark--v2/contact__img.png);
}
.contact__name{
    color: #f2f2f2;
}
.contact__info{
    color: #c3c3c3;
}
.footer__navTitle, .footer__socialTitle{
    color: #c3c3c3;
}
.footer__link{
    color: #32408c;
}
.featured::after{
    background-image: url(../img/home--dark--v2/featuredAfter.png);
}
.blogNews__item:last-child::after{
    background-image: url(../img/home--dark--v2/blogItemLastAfter.png);
}
@media (max-width: 768px){
    
    .topSection::before{
        background-image: url(../img/home--dark--v2/topSectionBefore.png);
    }
    .topSection::after{
        background-image: url(../img/home--dark--v2/topSectionAfter.png);
    }
    .topSection__graphic::before{
        background-image: url(../img/home--dark--v2/topSectionGraphicBefore.png);
    }
    .topSection__graphic::after{
        background-image: url(../img/home--dark--v2/topSectionGraphicAfter.png);
    }
    .topSection__botle--wrapper::after{
        background-image: url(../img/home--dark--v2/botleAftermob.png);
    }
    .blogNews::after{
        background-image: url(../img/home--dark--v2/blogNewsAfter.png);
    }
    
    .newsletter__inner::before{
        background-image: url(../img/home--dark--v2/newsletterMBefore.png);
    }
    .newsletter__inner::after{
        background-image: url(../img/home--dark--v2/newsletterMAfter.png);
    }
    .contact::before{
        background-image: url(../img/home--dark--v2/contactBefore.png);
        background-color: transparent;
    }
    .contact__content{
        background-color: #32408c;
        color: #f5f7ff;
    }
    .contact__content::before{
        background-image: url(../img/home--dark--v2/contactContentBefore.png);
    }
    .contact__title{
        color: #f5f7ff;
    }
    .owl-prev span{
        background: url(../img/home--dark--v2/prewArrow.png) center center;
        background-repeat: no-repeat;
        width: 69px;
        height: 48px;
        border-radius: 5px;
        border: 2px solid #f2f2f2;

    }
    .owl-next span{
        background: url(../img/home--dark--v2/nextArrow.png) center center;
        background-repeat: no-repeat;
        width: 69px;
        height: 48px;
        border-radius: 5px;
        border: 2px solid #f2f2f2;
    }
    #counter{
        color: #c3c3c3;
    }
}

