body{
    background-color: #1a1d40;
}
.topSection {
    background-image: url(../img/home--dark/homeBg.png);
}
.topSection__title span{
    color: #edafb8;
}
.about__title,
.about__subtitle {
    color: #f2f2f2;
}
.about__text{
    color: #c3c3c3;
}
.about__item:nth-child(1)::before{
    background-color: #32408c;
}
.about__item:nth-child(1)::after{
    background-image: url(../img/home--dark/aboutItem1After.png);
}
.about__item:nth-child(1) .about__img .about__imgWrapper::before{
    background-image: url(../img/home--dark/aboutImg1Before.png);
}
.about__item:nth-child(2)::before{
    background-color: #32408c;
}
.about__item:nth-child(2)::after{
    background-image: url(../img/home--dark/aboutItem2After.png);
}
.about__item:nth-child(2) .about__img .about__imgWrapper::before{
    background-image: url(../img/home--dark/aboutImg2Before.png);
}

.featured__title {
    color: #edae49;
}
.product__name{
    color: #f2f2f2;
}
.product__price--new,
.product__price--old{
    color: #c3c3c3;
}
.featured__btn{
    background-color: #edae49;
}

.product--button{
    background-color: #edae49;
}
.featured::before{
    background-image: url(../img/home--dark/featuredBefore.png);
}
.featured__block::before{
    background-image: url(../img/home--dark/FeaturedBlockBefore.png);

}
.blog__title{
    color: #f2f2f2;
}
.blog__title span{
    color: #edafb8;
}
.blogNews__date{
    color: #c3c3c3;
}
h4.blogNews__title{
    color: #f2f2f2;
}
.blog__row:nth-child(1)::before{
    background-image: url(../img/home--dark/blogRow1Before.png);
}
.blog__row:nth-child(2)::before{
    background-image: url(../img/home--dark/blogRow2Before.png);
}
.blog__row:nth-child(3)::before{
    background-image: url(../img/home--dark/blogRow3Before.png);
}
.blog__button::before{
    background-image: url(../img/home--dark/blogButtonBefore.png);
}
.contact::before{
    background-image: url(../img/home--dark/contactBefore.png);
}
.contact::after{
    background-image: url(../img/home--dark/contactAfter.png);
}
.contact__wrapper::before{
    background-color: #32408c;
}
.contact__title::before{
    background-image: url(../img/home--dark/contactTitleBefore.png);
}
.contact__title,
.contact__name{
    color: #f2f2f2;
}
.contact__info{
    color: #c3c3c3;
}
.newsletter__form {
    background-color: #edafb8;
}
.newsletter__form::before{
    background-image: url(../img/home--dark/newsletterFormbefore.png);
}
@media (max-width: 1320px){
    .contact{
        background-color: #32408c;
    }
    .contact::before{
        z-index: 2;
    }
}
@media (max-width: 800px){
    .owl-prev span{
        background: url(../img/home--dark--v2/prewArrow.png) center center;
        background-repeat: no-repeat;
        width: 69px;
        height: 48px;
        border-radius: 5px;
        border: 2px solid #f2f2f2;

    }
    .owl-next span{
        background: url(../img/home--dark--v2/nextArrow.png) center center;
        background-repeat: no-repeat;
        width: 69px;
        height: 48px;
        border-radius: 5px;
        border: 2px solid #f2f2f2;
    }
    #counter{
        color: #c3c3c3;
    }
}
@media (max-width: 650px){
    .topSection{
        background-image: url(../img/home--dark/mobileBg.png);
    }
}
@media (max-width: 650px){
    .contact{
        background-color: transparent;
    }
    .contact__wrapper{
        background-color: #32408c;
    }
    .contact__block::before{
        background-image: url(../img/home--dark/contactBlockBefore.png);
    }
    .newsletter{
        background-color: #edafb8;
    }
    .newsletter__form{
        background-color:transparent;
    }
}