body{
    background-color: #1a1d40;
}
.product__name,
.product__price,
.productDescription__title h3,
.product__name{
    color: #f2f2f2;
}
.productMain__text,
.product__quantity label,
.productDescription__text,
.product__price--new,
.product__price--old{
    color: #c3c3c3;
}
.productMain__wrapper::before{
    background-color: #32408c;
}
.productMain__info::after{
    background-image: url(../img/product--dark/productmainInfoAfter.png);

}
.productDescription::before{
    background-image: url(../img/product--dark/productDescriptionBefore.png);
}
.productDescription__title {
    color: #515690;
}
.productDescription__text::after{
    background-image: url(../img/product--dark/productDescriptionTextAfter.png);
}

.relatedProduct__title {
    color: #edae49;
}
.relatedProduct__title::before{
    background-image: url(../img/product--dark/relatedProductTitleBefore.png);
}
.shop__product--loadMore {
    background-color: #edae49;
}
.featured__btn{
    background-color: #edae49;
}
.relatedProducts::before{
    background-image: url(../img/product--dark/relatedProductBefore.png);
}
.owl-prev span{
    background-image: url(../img/header/owl-prew.png);
}
.owl-next span{
    background-image: url(../img/header/owl-next.png);
}
.relatedProducts::after{
    background-image: url(../img/product--dark/reletedProductAfter.png);
}
footer::after{
    background-image: url(../img/product--dark/footerAfter.png );
}
@media(max-width: 800px){
    .owl-prev span{
        background: url(../img/home--dark--v2/prewArrow.png) center center;
        background-repeat: no-repeat;
        width: 69px;
        height: 48px;
        border-radius: 5px;
        border: 2px solid #f2f2f2;

    }
    .owl-next span{
        background: url(../img/home--dark--v2/nextArrow.png) center center;
        background-repeat: no-repeat;
        width: 69px;
        height: 48px;
        border-radius: 5px;
        border: 2px solid #f2f2f2;
    }
    #counter{
        color: #c3c3c3;
    }
}