
.productMain__wrapper::before{
    background-color: #2e5955;
}
.productDescription__title h3{
    color: #2e5955;
}
.productMain__info::after{
    background-image: url(../img/product--green/productMainInfoAfter.png);

}
.productDescription::before{
    background-image: url(../img/product--green/productDescriptionBefore.png);
}
.productDescription__title {
    color: #515690;
}
.productDescription__text::after{
    background-image: url(../img/product--green/productDescriptionTextAfter.png);
}

.relatedProduct__title {
    color: #a68549;
}
.relatedProduct__title::before{
    background-image: url(../img/product--green/relatedProductTitleBefore.png);
}
.featured__btn {
    background-color: #a68549;
}
.relatedProducts::before{
    background-image: url(../img/product--green/relatedProductBefore.png);
}
.relatedProducts::after{
    background-image: url(../img/product--green/relatedProductAfter.png);
}
.footer::after{
    background-image: url(../img/product--green/footerAfter.png);
}