.productMain {
    color: #f5f7ff;
    margin-bottom: 80px;
}
.productMain__wrapper {
    display: flex;
    padding-top: 80px;
    margin-top: 25px;
    position: relative;
}
.productMain__wrapper::before{
    content: '';
    width: 1251px;
    height: 1056px;
    position: absolute;
    top: 0;
    right: -100px;
    z-index: -11;

}
.productMain__img {
    display: flex;
    flex-wrap: wrap;
}
img.productMain__img--big {
    width: 770px;
    height: 770px;
}
img.productMain__img--small {
    width: 110px;
    height: 100px;
    margin-top: 20px;
    margin-right: 20px;
}
.productMain__info {
    margin-left: 108px;
    margin-top: 120px;
}
.productMain__info::after{
    content: '';
    width: 385px;
    height: 232px;
    position: absolute;
    right: -161px;
    bottom: 42px;
    z-index: -10;
    background-size: contain;
    background-repeat: no-repeat;

}
.productMain__name {
    
    font-family: Heebo;
    font-size: 90px;
    font-weight: 700;
}

.productMain__text {
    margin-top: 25px;
    margin-bottom: 60px;
    font-weight: 300;

}
.productMain__price {
    font-family: Heebo;
    font-size: 50px;
    font-weight: 700;
}
.product__quantity{
    margin-top: 50px;
}
.product__quantity input{
    width: 50px;
}
.product__button {
    margin-top: 40px;
    display: flex;
}
.productMain__info .product__button .added{
    width: 50%;
}
.product__button button:first-child{
    margin-right: 40px;
}
.productDescription {
    margin-top: 170px;
    position: relative;
}
.productDescription::before{
    content: '';
    width: 117px;
    height: 268px;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: -10;
    background-size: contain;
    background-repeat: no-repeat;

}
.productDescription__wrapper {
}
.productDescription__title h3{
    margin-left: 447px;
    margin-bottom: 48px;
    font-family: Heebo;
    font-size: 50px;
    font-weight: 700;
    line-height: 72px;
}
.productDescription__text {
    margin-left: 447px;
    height: 440px;
    column-count: 2;
    column-gap: 111px;
    column-width: 500px;
    column-fill: auto;
    color: #151730; 
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.18px;
    position: relative;
}
.productDescription__text::after{
    content:'';
    width: 231px;
    height: 41px;
    position: absolute;
    right: 0;
    bottom: 20px;
    z-index: -10;
}
.productDescription__button{
    display: none;
}
.relatedProducts {
    margin-top: 100px;
    position: relative;
    margin-bottom: 100px;

}
.relatedProducts::before{
    content: '';
    width: 162px;
    height: 367px;
    position: absolute;
    left: 0;
    bottom: -30px;
    z-index: -10;
    background-size: contain;
    background-repeat: no-repeat;

}
.relatedProduct__wrapper {
    margin-left: 447px;
}
.relatedProduct__title {
    margin-bottom: 80px;
    font-family: Heebo;
    font-size: 50px;
    font-weight: 700;
    position: relative;
}
.relatedProduct__title::before{
    content:'';
    width: 161px;
    height: 187px;
    position: absolute;
    top: -10px;
    left: -238px;
    z-index: -10;
    background-size: contain;
    background-repeat: no-repeat;
}
.relatedProduct__block {
    display: flex;
}

.relatedProduct__block .shop__product {
    margin-right: 130px;
}
.product__button button:first-child{
    margin-left: 3px;
}
.footer::after{
    content: '';
    width: 299px;
    height: 132px;
    position: absolute;
    left: 35%;
    bottom: -20px;
}

@media (max-width: 1800px){
    .productMain__wrapper::before {
        width: 1200px;
    }
    .productMain__name{
        font-size: 60px;
    }
    .productMain__price{
        font-size: 40px;
    }
    .product__quantity{
        font-size: 20px;
    }
    .productDescription__title{
        margin-left: -50px;
    }
    .productDescription__text{
        margin-left: 500px;
        column-gap: 50px;
        column-width: 450px;
    }
    .productDescription__text::after {
        bottom: -50px;
    }
    .relatedProduct__wrapper {
        margin-left: 500px;
    }
    .relatedProducts::before{
        width: 130px;
    }

}
@media(max-width: 1600px){
    .productDescription {
        margin-top: 180px;
    }
    .productDescription__title h3 {
        margin-left: 250px;
    }
    .productDescription__text{
    	margin-left: 200px;
    }
    .relatedProducts{
        margin-top: 100px;
        margin-bottom: 70px;
    }
    .relatedProduct__wrapper {
    	margin-left: 200px;
    }
    .productMain__wrapper::before {
        width: 1200px;
        height: 1000px;
    }
    img.productMain__img--big {
        width: 700px;
        height: 700px;
    }
    .productMain__info {
        margin-left: 90px;
        margin-top: 110px;
    }
}
@media(max-width: 1366px){
    .productMain__info{
        margin-left: 70px;
        margin-top: 65px;
    }
    .productMain__wrapper::before{
        height: 750px;
        width: 75%;
        right: 0;
        top: 40px;
    }
    .productMain__info::after{
        width: 250px;
        right: -40px;
    }
    .productMain__name{
        max-width: 80%;
    }
    .productMain__text{
        margin: 25px 0;
        max-width: 80%;
    }
    .product__quantity{
        margin-top: 25px;
    }
    .product__button{
        margin-top: 25px;
    }
    img.productMain__img--big {
        width: 550px;
        height: 550px;
    }
    .productDescription{
        margin-top: 90px;
    }
    .productDescription::before{
        width: 80px;
        top: 184px;
    }
    .productDescription__title{
        width: 75%;
        margin-left: auto;

    }
    .productDescription__title h3{
        margin-left: 0;
        margin-bottom: 30px;
    }
    .productDescription__text{
        width: 75%;
        margin-left: auto;
    }
    .productDescription__text::after{
        width: 160px;
    }
    .relatedProducts{
        margin-top: 50px;
    }
    .relatedProduct__title{
        margin-bottom: 50px;
    }
    .relatedProduct__wrapper{
        width: 75%;
        margin-left: auto;
    }
    .product__img,
    .featured__btn{
        width: 296px;
        height: 343px;
    }
    .relatedProducts::before{
        width: 100px;
        bottom: -50px;
    }
    .relatedProduct__title::before {
        width: 130px;
    }
    .footer::after {
        width: 200px;
        bottom: -59px;
    }
    
}
@media(max-width:1024px){
    .productMain__wrapper{
        margin-top: 0;
    }
    img.productMain__img--big {
        width: 450px;
        height: 450px;
    }
    .productMain__wrapper::before {
        width: 70%;
        height: 650px;
    }
    .productMain__info{
        margin-top: 25px;
        margin-left: 40px;
    }
    .productMain__info::after {
        bottom: -30px;
    }
    .productMain__name{
        width: 90%;
        font-size: 50px;
    }
    .productMain__text{
        margin: 20px 0;
    }
    .productMain__price{
        font-size: 30px;
    }
    .productDescription__text,
    .productDescription__title{
        width: 70%;
    }
    .productDescription__text {
        column-gap: 20px;
        column-width: 300px;
        height: auto;
    }
    .productDescription__text::after {
        bottom: -75px;
    }
    .relatedProduct__wrapper{
        width: 70%;
    }
    .relatedProducts::before {
        width: 80px;
    }
    .relatedProduct__title::before {
        width: 100px;
        top: -5px;
        left: -200px;
    }
}
@media (max-width: 812px){
    .productMain__wrapper{
        flex-direction: column;
        margin-top: 20px;
        padding-top: 0;
    }
    
    .productMain__wrapper::before {
        top: 760px;
        width: 1000px;
        height: 640px;
        right: 0;
    }
    .productMain .container{
        width: 100%;
    }

    img.productMain__img--big {
        width: 768px;
        height: 768px;
        margin: 0 auto;
    }
    .productMain__imgWrapper{
        margin-left: 40px;
    }
    img.productMain__img--small{
        margin: 40px 40px 0 0;
    }
    .productMain__info{
        margin-top: 5px;
    }
    .productMain__info::after {
        width: 280px;
        right: -50px;
        bottom: 25px;
    }
    .productMain__name {
        font-size: 80px;
        line-height: 90px;
        margin: 25px 0;
    }
    .productMain__text{
        margin-bottom: 25px;
    }
    .productMain__price{
        display: block;
        margin-bottom: 30px;
        font-size: 40px;
    }
    .productDescription{
        margin-top: 105px;
    }
    .productDescription::before {
        width: 61px;
        top: -35px;
    }
    .productDescription__text, .productDescription__title {
        width: 100%;
    }
    .productDescription__title {
    }
    .productDescription__text {
        margin-left: 0;
        column-gap: 30px;
        column-width: 300px;
        height: auto;
    }
    .productDescription__btn{
        display: inline-block;
        margin-top: 55px;
    }
    .relatedProducts{
        margin-bottom: -100px;
    }
    .relatedProduct__wrapper{
        width: 100%;
    }
    .relatedProducts::before{
        width: 80px;
        bottom: 420px;
    }
    .relatedProduct__title{
        line-height: normal;
    }
    .relatedProduct__wrapper {
        margin-left: 0;
    }
    .footer::after{
        display: none;
    }


}
@media (max-width: 650px){
    .productMain__wrapper{
        margin-top: 50px;
    }
    .productMain__wrapper::before {
        top: 480px;
        height: 820px;  
        
    } 
    .productMain__imgWrapper {
    }
    img.productMain__img--small {
        margin: 20px 16px 0 0;
    }
    img.productMain__img--big {
        width: 480px;
        height: 480px;
    }
    img.productMain__img--small {
        width: 70px;
        height: 70px;
    }
    .productMain__info{
        margin-top: 0;
    }
    .productMain__info::after {
        display: none;
    }
    .productMain__name{
        font-size: 50px;
        line-height: 1.2;
        margin: 24px 0 0;
        max-width: 100%;
    }
    .productMain__price{
        font-size: 50px;
    }
    .productMain__text{
        margin-top: 26px;
        margin-bottom: 55px;
    }
    .product__quantity{
        margin-top: 95px;
    }
    .product__button{
        margin-top: 34px;
    }
    .productDescription{
        margin-top: 130px;
    }
    .productDescription::before {
        width: 70px;
        top: -60px;
    }
    .productDescription__title h3{
        margin-bottom: 20px;
    }
    .productDescription__text{
        margin-bottom: 20px;
    }
    .productDescription__button{
        display: inline-flex;
    }
    .productDescription__wrapper {
        margin: 0 25px;
    }
    .productDescription__text::after {
        content: '';
        width: 129px;
        height: 41px;
        position: absolute;
        right: -51px;
        bottom: -169px;
        z-index: -10;
    }
    .relatedProducts {
        margin-bottom: -18px;
        position: relative;
        margin-top: 120px;
    }
    .relatedProducts::before{
        content: ''; 
        width: 95px;
        height: 203px;
        position: absolute;
        left: 0;
        top: 80px;
    }
    .relatedProducts::after{
        content: '';
        width: 32px;
        height: 105px;
        position: absolute;
        right: 0;
        bottom: 220px;
    }
    .productMain__info .product__button .added{
        width: 135%;
    }
}
@media (max-width: 414px){
    .productMain .container{
        padding: 0;
    }
    img.productMain__img--big{
        width: 414px;
        height: 414px;
    }
    .productMain__wrapper::before {
        top: 410px;
        height: 770px;
    }
    .productDescription__wrapper {
        margin: 0 20px;
    }
    .relatedProduct{
        margin-top: 150px;
    }

    .relatedProduct__title{
    font-size: 47px ;
    }
    .product__img,
    .featured__btn {
        width: 245px;
        height: 285px;
    }
    .product__button button:first-child{
        margin-left: 0;
    }
    .product__button button:first-child {
        margin-right: 20px;
    }
    .product button{
        padding: 15px;
    }
    /* #counter {
        bottom: 94px;
    } */
    /* .owl-item .product__name,
    .owl-item .product__price,
    .owl-item .product__button{
        display: none;
    }
    .owl-item._show .product__name,
    .owl-item._show .product__price,
    .owl-item._show .product__button{
        display: flex;
    }
    .featured__block{
        height: 543px;
    }
    .owl-nav{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        padding: 0;
    }
    #counter{
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
    } */


}
@media (max-width: 375px){
    .productMain__wrapper{
        margin-top: 26px;
    }
    .productMain__wrapper::before {
        height: 734px;
    }
    .productDescription{
        margin-top: 100px;
    }
    .productDescription__title h3 {
        margin-bottom: 10px;
    }
    .relatedProducts{
        margin-top: 120px;
        margin-bottom: -80px;
    }
    .footer .container{
        width: 320px;
    }
    .product{
        padding: 0;
    }
    .productMain__wrapper::before {
        top: 375px;
    }
    img.productMain__img--big {
        width: 375px;
        height: 375px;
    }
    .productMain__info {
        margin-left: 25px;
    }
    
    .productMain__imgWrapper {
        margin-left: 25px;
    }
    .relatedProduct__title{
        font-size: 40px;
    }
    .featured__block{
        margin-bottom: 50px;
        height: 530px;
    }

}
