.shop::before{
    background-image: url(../img/shop--green/shopBefore.png);
}
.shop::after{
    background-image: url(../img/shop--green/shopAfter.png);
}
.shop__subtitle::before{
    background-image: url(../img/shop--green/shopSubtitleBefore.png);
}
.shop__product:first-child::before{
    background-image: url(../img/shop--green/shopProduct1Before.png);
}
.shop__product:nth-child(8)::before{
    background-image: url(../img/shop--green/shopProduct8Before.png);
}
.shop__loadMore::before{
    background-image: url(../img/shop--green/shopLoadMoreBefore.png);
}
.shop__loadMore::after{
    background-color: #f2da91;
}
.options__container{
    background-color: #f2da91;
    color: #0d0d0d;
}
.selected{
    background-color: transparent;
    color: #0d0d0d;
}
.selected::after{
    background-image: url(../img/shop--green/drop_down.png);
}
.options__container::-webkit-scrollbar{
    background-color: #aaa;
}
.options__container::-webkit-scrollbar-thumb{
    background-color: #2e5955;
}
.option:hover{
    color: #2e5955;
}
@media (max-width:640px){
    .shop__subtitle::after{
        background-image: url(../img/shop--green/shopSubtitleAfter.png);
    }
    .shop__product:nth-child(4n+2)::after{
        background-color: #f2da91;
    }
    .shop__product:nth-child(4n+3)::before{
        background-color: #95b8bf;
    }
    .shop__product:nth-child(4)::after{
        background-image: url(../img/shop--green/shopProduct4After.png);
    }
    
}