.sign-up::before{
    background-image: url(../img/sign-up--darkGreen/sign-upBefore.png);
}
.sign-up::after{
    background-image: url(../img/sign-up--darkGreen/sign-upAfter.png);
}

.sign-up__title {
    color: #2e5955;
}
.sign-up__form {
    background-color: #95b8bf;
}
.sign-up__formWrapper::after{
    background-image: url(../img/sign-up--darkGreen/sign-upFormWrapper.png);
}
.sign-up__title::before{
    background-image: url(../img/sign-up--darkGreen/sign-upTitleBefore.png);
}
@media (max-width:978px){
    .sign-up__form::before{
        background-image: url(../img/sign-up--darkGreen/formMBefore.png);
    }
    .sign-up__form::after{
        background-image: url(../img/sign-up--darkGreen/formMAfter.png);
    }
}