.sign-up {
    position: relative;
}
.sign-up::before{
    content: '';
    width: 110px;
    height: 444px;
    position: absolute;
    left: 0;
    top: 440px;
    z-index: -10;
    background-repeat: no-repeat;
    background-size: contain;

}
.sign-up::after{
    content: '';
    width: 70px;
    height: 200px;
    position: absolute;
    right: 0;
    top: 200px;
    z-index: -9;
    background-repeat: no-repeat;
    background-size: contain;
}

.sign-up__title {
    font-family: Heebo;
    font-size: 280px;
    font-weight: 700;
    margin-left: 340px;
    margin-top: -23px;
    position: relative;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: contain;
}
.sign-up__title::before{
    content: '';
    width: 249px;
    height: 236px;
    position: absolute;
    bottom: 30px;
    left: -100px;
    background-size: contain;
    z-index: -10;

}
.sign-up__wrapper{
    display: flex;
    flex-direction: column;
}
.sign-up__form {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    padding: 70px 150px;
    position: relative;
    top: -118px;
    right: 180px;
}
.sign-up__formWrapper::after{
    content: '';
    width: 325px;
    height: 115px;
    position: absolute;
    bottom: 10px;
    right: -380px;

}
.sign-up__formWrapper{
    position: relative;
    display: flex;
    flex-direction: column;
}
.sign-up__form label{
    color: #4c4d57;
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 21px;
}
.sign-up__form input[type=text]{
    width: 494px;
    height: 54px;
    border-radius: 5px;
    background-color: #f5f7ff;
    text-transform: uppercase;
    padding-left: 22px;
    margin-bottom: 26px;
}
.sign-up__submit {
    width: 208px;
    margin-top: 33px;
    margin-bottom: 31px;
}
.sign-up__createLink {
    color: #4c4d57;
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
}
@media (max-width: 1750px){
    .sign-up__title{
        font-size: 290px;
        margin-left: 120px;
        
    }
    .sign-up__form{
        margin-top: 9px;
		top: -131px;
    }
}
@media(max-width: 1440px){
	.sign-up__title {
    	font-size: 230px;
	}
    .sign-up__form {
        margin-top: 33px;
    }
}
@media(max-width:1366px){

}
@media (max-width:1350px){
    .sign-up__form{
        right: 50px;
    }
}
@media (max-width:1319px){
    .sign-up__title{
        margin-left: 0;
    }
    .sign-up__form{
        right: 0;
    }
}
@media (max-width:1024px){
    .sign-up::before{
        display: none;
    }
    .sign-up__wrapper{
        margin-bottom: -100px;
    }
    .sign-up__title {
        margin-left: 50px;
		font-size: 250px;
    }
	.sign-up__form {
      margin-top: 27px;
  	}
}
@media(max-width:978px){
    .sign-up::after{
        top: 0;
    }
    .sign-up .container{
        width: 100%;
        padding: 0;
    }
    .sign-up__title::before{
        display: none;
    }
    .sign-up__form{
        width: 100%;
        padding: 0;
        margin-top: 47px;
    }
    .sign-up__formWrapper{
        width: 100%;
        padding: 90px 0;
    }
    .sign-up__title{
        margin-left: 5%;
        font-size: 200px;
    }
    .sign-up__formWrapper label,
    button[type='submit'],
    .sign-up__createLink{
        margin-left: 9%;
    }

    .sign-up__form input[type=text]{
        width: 80%;
        align-self: center;
    }
    .sign-up__form::before{
        content: '';
        width: 99px;
        height: 18px;
        position: absolute;
        right: 0;
        bottom: 10%;
        background-repeat: no-repeat;   
        background-size: contain;
    }
    .sign-up__form::after{
        content: '';
        width: 68px;
        height: 124px;
        position: absolute;
        left: 0;
        bottom: -80px;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .sign-up__formWrapper::after{
        display: none;
    }

}
@media (max-width:810px){
    .sign-up__submit{
        width: 210px;
    }
    .sign-up__wrapper{
        margin-bottom: -130px;
    }
}
@media (max-width:711px){
    .sign-up__title{
        font-size: 150px;
        margin-top: 50px;
    }
    .sign-up__form{
        margin-top: 48px;
    }
}
@media (max-width:650px){
    .sign-up__title{
        margin-top: 70px;
    }
    .sign-up__form{
        margin-top: 160px;
    }
}
@media (max-width:614px){
    
    .sign-up__form{
        margin-top: 160px;
    }
    .sign-up__formWrapper{
        padding: 60px 0;
    }
    .sign-up__wrapper{
        margin-bottom: -73px;
    }
}
@media (max-width:532px){
    .sign-up::after{
        top: 10px;
        width: 30px;
        height: 122px;
    }
    .sign-up__title{
        font-size: 90px;
        margin-top: 50px;
    }
    .sign-up__form{
        margin-top: 144px;
        top: -134px;
    }
    .sign-up__form label {
        margin-bottom: 11px;
    }
    .sign-up__form input[type=text]{
        margin-bottom: 24px;
    }
    .sign-up__submit{
        width: 205px;
    }
    
}
@media (max-width:356px){
    .sign-up__title{
        font-size: 80px;
    }
    .sign-up__form{
        margin-top: 138px;
    }
}