body{
    background-color: #1a1d40;
}
.sign-up::before{
    background-image: url(../img/sign-up--dark/sign-upbefore.png);
}
.sign-up::after{
    background-image: url(../img/sign-up--dark/sign-upAfter.png);
}

.sign-up__title {
    color: #edae49;
}
.sign-up__form {
    background-color: #32408c;
}
.sign-up__formWrapper::after{
    background-image: url(../img/sign-up--dark/sign-upFormWrapper.png);
}
.sign-up__title::before{
    background-image: url(../img/sign-up--dark/sign-upTitleBefore.png);
}
.sign-up__formWrapper label,
.sign-up__createLink{
    color: #1a1d40;
}
@media (max-width:978px){
    .sign-up__form::before{
        background-image: url(../img/sign-up--dark/formMBefore.png);
    }
    .sign-up__form::after{
        background-image: url(../img/sign-up--dark/formMAfter.png);
    }
}