.wishlist__main::before {
    background-image: url(../img/wishlist--mustard/wishlistMainBefore.png);
}
.wishlist__main::after{
    background-image: url(../img/wishlist--mustard/wishlistMainAfter.png);
}
.wishlist__title {
    color: #a68549;
}
.wishlist__subtitle::before{
    background-image: url(../img/wishlist--mustard/wishlistSubtitleBefore.png);
}
.shop__product:nth-child(3n-1)::before {
    background-image: url(../img/wishlist--mustard/shopProduct2Before.png);
}
.shop__product:nth-child(3n)::before{
    background-image: url(../img/wishlist--mustard/shopProduct3Before.png);
}
@media (max-width:838px){
    .shop__product:nth-child(2n)::before{
        background-image: url(../img/wishlist--mustard/wishlistMainBefore.png);
    }
    .shop__product:nth-child(2n)::after{
        background-image: url(../img/wishlist--mustard/wishlistMainAfter.png);
    }
    .shop__product:nth-child(3n) .product__img::before {
        background-image: url(../img/wishlist--mustard/shopProduct3Before.png);
    }
}