.wishlist__top {
    margin-top: 54px;
    margin-bottom: -50px;
}
.wishlist__title {
    font-family: Heebo;
    font-size: 90px;
    font-weight: 700;
    margin-left: 30px;
}
.wishlist__main {
    position: relative;
}
.wishlist__main::before {
    content: '';
    width: 220px;
    height: 233px;
    position: absolute;
    left: 0;
    bottom: 100px;
    z-index: -11;

}
.wishlist__main::after {
    content: '';
    width: 110px;
    height: 282px;
    position: absolute;
    right: 0;
    bottom: 280px;
    z-index: -10;

}
.wishlist__wrapper {
    margin-left: 700px;
}
.wishlist__subtitle {
    position: relative;
    display: block;
    color: #4c4d57;
    font-family: Heebo;
    font-size: 50px;
    font-weight: 700;
    margin: 60px 0px 100px 0
}
.wishlist__subtitle::before{
    content: '';
    width: 134px;
    height: 386px;
    position: absolute;
    top: 65px;
    left: -350px;
    z-index: -10;
}
.wishlist__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.shop__product {
    margin-bottom: 110px;
    position: relative;
}
.shop__product:nth-child(3n-1)::before {
    content: "";
    width: 187px;
    height: 258px;
    position: absolute;
    top: -121px;
    right: -66px;
    z-index: -10;
}
.shop__product:nth-child(3n)::before {
    content: "";
    width: 35px;
    height: 198px;
    position: absolute;
    top: 61px;
    left: -121px;
    z-index: -10;
}
.shop__product:nth-child(2n) {
    position: relative;
    top: 160px;
}
.product__btn {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
}
.wishlist__btn {
    display: flex;
    justify-content: flex-end;
}
@media(max-width: 1800px){
    .wishlist__top{
        margin-bottom: -10px;
    }
    .wishlist__title{
        margin-left: 0;
    }
}
@media (max-width: 1750px){
    .wishlist__wrapper{
        margin-left: 500px;
    }
}
@media(max-width: 1366px){
    .wishlist__top{
        margin-top: 10px;
    }
}
@media (max-width:1340px){
    .wishlist__wrapper{
        margin-left: 300px;
    }
}
@media (max-width:1312px){
    /* .wishlist__main .container,
    .wishlist__bottom .container{
        width: 100%;
    } */
    .wishlist__wrapper{
        margin-right: 100px;
    }
    .wishlist__btn{
        margin-right: 100px;
    }
}
@media (max-width:1161px){
    .wishlist__title{
        margin-left: 50px;

    }
    .wishlist__wrapper{
        margin: 0 60px;
    }
    .wishlist__main::before{
        display: none;
    }

    
}
@media (max-width:1010px){
    .wishlist__main::before{
        bottom: 310px;
    }
    .product__img {
        width: 256px;
        height: 343px;
    }
    .shop__product:nth-child(3n-1)::before{
        width: 140px;
    }
    .wishlist__btn{
        margin-right: 0;
    }
}
@media (max-width:843px){
    .wishlist__main::before {
        display: none;
    }
    .wishlist__main::after{
        display: none;
    }
    .wishlist__subtitle,
    .wishlist__title{
        width: 93%;
        margin: 0 auto;
       
    }
    .wishlist__subtitle{
        font-size: 30px;
        margin-bottom: 50px;
    }
    .wishlist__wrapper{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .shop__product{
        width: 50%;
        display: flex;
        justify-content: center;
    }
    .shop__product:nth-child(2n) {
        top: 200px;
    }
    .shop__product:nth-child(2n)::after {
        content: '';
        width: 71px;
        height: 176px;
        position: absolute;
        bottom: -70px;
        right: 0;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: -10;
        opacity: 0;
    }
    .product__img{
        position: relative;
    }
    .shop__product:nth-child(3n)::before {
        display: none;
    }
    .shop__product:nth-child(3n) .product__img::before {
        content: '';
        width: 34px;
        height: 192px;
        position: absolute;
        top: 0;
        left: -20px;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: -10;
        
    }
    .shop__product:last-child{
        margin-bottom: 50px;
    }
}
@media (max-width:648px){
    .wishlist__top{
        margin-top: 71px;
        margin-bottom: 0;
    }
    .wishlist__title{
        margin-bottom: 50px;
        font-size: 50px;
    }
    .wishlist__subtitle{
        margin-bottom: 40px;
    }
    .wishlist__btn{
        margin-right: 0;
    }
    .shop__product:nth-child(2n){
        top: 0;
    }
    .shop__product:nth-child(2n)::after {
        opacity: 1;
        right: -35px;
        bottom: 91px;
    }
    .shop__product{
        width: 100%;
    }
    .product__img{
        width: 334px;
        height: 386px;
    }
}
@media (max-width:540px){
}
@media (max-width:490px){
    .wishlist__title {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .shop__product{
        margin-bottom: 88px;
    }
    .shop__product:last-child{
        margin-bottom: 105px;
    }
}
@media(max-width:420px){
    .wishlist__bottom{
        margin-bottom: 50px;
        margin-right: 40px;
    }
    .shop__product:nth-child(2n)::before {
        left: -46px;
    }
    .shop__product:nth-child(3n-1)::before {
        left: -66px;
        transform: rotateY(180deg);
    }
}
@media(max-width: 375px){
    .wishlist__btn{
        margin-right: 25px;
    }
}