body{
    background-color: #1a1d40;
}
.wishlist__main::before {
    background-image: url(../img/wishlist--dark/wishlistMainBefore.png);
}
.wishlist__main::after{
    background-image: url(../img/wishlist--dark/wishlistMainAfter.png);
}
.wishlist__title {
    color: #edafb8;
}
.wishlist__subtitle,
.product__name{
    color: #f2f2f2;
}
.product__price--old,
.product__price--new{
    color: #c3c3c3;
}
.wishlist__subtitle::before{
    background-image: url(../img/wishlist--dark/wishlistSubtitleBefore.png);
}
.shop__product:nth-child(3n-1)::before {
    background-image: url(../img/wishlist--dark/shopProduct2Before.png);
}
.shop__product:nth-child(3n)::before{
    background-image: url(../img/wishlist--dark/shopProduct3Before.png);
}
@media (max-width:838px){
    .shop__product:nth-child(2n)::before{
        background-image: url(../img/wishlist--dark/wishlistMainBefore.png);
    }
    .shop__product:nth-child(2n)::after{
        background-image: url(../img/wishlist--dark/wishlistMainAfter.png);
    }
    .shop__product:nth-child(3n) .product__img::before {
        background-image: url(../img/wishlist--dark/wishlistProduct3mobile.png);
    }
}