<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/Layout}">
<head>
    <title>Blog</title>
    <link rel="stylesheet" href="css/blogNews-v1--mustard.css">
    <link rel="stylesheet" href="css/blogNews-v1.css">
</head>
<body>

<th:block layout:fragment="content">
    <section class="blogTopSection">
        <div class="container">
            <h2 class="blogTopSection__title">Blog&#38;<span class="blogTopSection__title--color">News</span></h2>
        </div>
    </section>
    <!-- /.blogTopSection -->
    <section class="blogMain">
        <div class="blogMain--graphic"></div>
        <div class="container">
            <p class="blogMain__subtitle">Quisque sit amet augue lorem. Donec sodales hendrerit orci et lobortis. Fusce dignissim mollis ante sed vestibulum. Aliquam facilisis tristique tempor. Donec dictum lobortis felis, nec suscipit nisi suscipit ac.</p>
            <div class="blogNews__block blogMain__block">
                <div class="blogNews__item blogMain__item">
                    <div class="blogMain__itemWrapper">
                        <div class="blogNews__img">
                          <img src="img/placeholder/640х400.png" alt="">
                        </div>
                        <!-- /.blogNews__img -->
                        <span class="blogNews__date">28 january 2020</span>
                        <!-- /.blogNews__date -->
                        <h4 class="blogNews__title">proin hendrerit</h4>
                        <!-- /.blogNews__title -->
                        <a href="article--green.html" class="btn draw-border draw-border--greenMustard blogNews__btn">read more</a>
                        <!-- /.btn draw-border draw-border-greenMustard blogNews__btn -->
                    </div>
                </div>
                <!-- /.blogNews__item -->                
                <div class="blogNews__item blogMain__item">
                    <div class="blogMain__itemWrapper">
                        <div class="blogNews__img">
                          <img src="img/placeholder/640х400.png" alt="">
                        </div>
                        <!-- /.blogNews__img -->
                        <span class="blogNews__date">18 January 2020</span>
                        <!-- /.blogNews__date -->
                        <h4 class="blogNews__title">Aenean faucibus hendrerit</h4>
                        <!-- /.blogNews__title -->
                        <a href="article--green.html" class="btn draw-border draw-border--greenMustard blogNews__btn">read more</a>
                        <!-- /.btn draw-border draw-border-greenMustard blogNews__btn -->
                    </div>
                </div>
                <!-- /.blogNews__item -->                           
                <div class="blogNews__item blogMain__item">
                    <div class="blogMain__itemWrapper">
                        <div class="blogNews__img">
                          <img src="img/placeholder/640х400.png" alt="">
                        </div>
                        <!-- /.blogNews__img -->
                        <span class="blogNews__date">4 January 2020</span>
                        <!-- /.blogNews__date -->
                        <h4 class="blogNews__title"> Praesent vehicula </h4>
                        <!-- /.blogNews__title -->
                        <a href="article--green.html" class="btn draw-border draw-border--greenMustard blogNews__btn">read more</a>
                        <!-- /.btn draw-border draw-border-greenMustard blogNews__btn -->
                    </div>
                </div>
                <!-- /.blogNews__item -->                           
                <div class="blogNews__item blogMain__item">
                    <div class="blogMain__itemWrapper">
                        <div class="blogNews__img">
                          <img src="img/placeholder/640х400.png" alt="">
                        </div>
                        <!-- /.blogNews__img -->
                        <span class="blogNews__date">12 December 2019</span>
                        <!-- /.blogNews__date -->
                        <h4 class="blogNews__title">penatibus et magnis </h4>
                        <!-- /.blogNews__title -->
                        <a href="article--green.html" class="btn draw-border draw-border--greenMustard blogNews__btn">read more</a>
                        <!-- /.btn draw-border draw-border-greenMustard blogNews__btn -->
                    </div>
                </div>
                <!-- /.blogNews__item -->                           
                <div class="blogNews__item blogMain__item">
                    <div class="blogMain__itemWrapper">
                        <div class="blogNews__img">
                          <img src="img/placeholder/640х400.png" alt="">
                        </div>
                        <!-- /.blogNews__img -->
                        <span class="blogNews__date">6 December 2019</span>
                        <!-- /.blogNews__date -->
                        <h4 class="blogNews__title">Integer ac consectetur est</h4>
                        <!-- /.blogNews__title -->
                        <a href="article--green.html" class="btn draw-border draw-border--greenMustard blogNews__btn">read more</a>
                        <!-- /.btn draw-border draw-border-greenMustard blogNews__btn -->
                    </div>
                </div>
                <!-- /.blogNews__item -->                           
                <div class="blogNews__item blogMain__item">
                    <div class="blogMain__itemWrapper">
                        <div class="blogNews__img">
                          <img src="img/placeholder/640х400.png" alt="">
                        </div>
                        <!-- /.blogNews__img -->
                        <span class="blogNews__date">8 November 2019</span>
                        <!-- /.blogNews__date -->
                        <h4 class="blogNews__title">Cras at ornare odio</h4>
                        <!-- /.blogNews__title -->
                        <a href="article--green.html" class="btn draw-border draw-border--greenMustard blogNews__btn">read more</a>
                        <!-- /.btn draw-border draw-border-greenMustard blogNews__btn -->
                    </div>
                </div>
                <!-- /.blogNews__item -->                           
                <div class="blogNews__item blogMain__item">
                  <div class="blogMain__itemWrapper">
                      <div class="blogNews__img">
                        <img src="img/placeholder/640х400.png" alt="">
                      </div>
                      <!-- /.blogNews__img -->
                      <span class="blogNews__date">1 October 2019</span>
                      <!-- /.blogNews__date -->
                      <h4 class="blogNews__title">Nam ultricies orci </h4>
                      <!-- /.blogNews__title -->
                      <a href="article--green.html" class="btn draw-border draw-border--greenMustard blogNews__btn">read more</a>
                      <!-- /.btn draw-border draw-border-greenMustard blogNews__btn -->
                  </div>
              </div>
                <!-- /.blogNews__item -->                           
                <div class="blogNews__item blogMain__item">
                    <div class="blogMain__itemWrapper">
                        <div class="blogNews__img">
                          <img src="img/placeholder/640х400.png" alt="">
                        </div>
                        <!-- /.blogNews__img -->
                        <span class="blogNews__date">1 October 2019</span>
                        <!-- /.blogNews__date -->
                        <h4 class="blogNews__title">elementum ornare nulla</h4>
                        <!-- /.blogNews__title -->
                        <a href="article--green.html" class="btn draw-border draw-border--greenMustard blogNews__btn">read more</a>
                        <!-- /.btn draw-border draw-border-greenMustard blogNews__btn -->
                    </div>
                </div>
            </div>
            <!-- /.blogNews__block -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /.blogMain -->
</th:block>

<th:block th:fragment="optional">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
</th:block>

</body>
</html>