<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/Layout}">
<head>
    <title>Home page</title>
    <link rel="stylesheet" href="css/home2.css">
    <link rel="stylesheet" href="css/home2--yellow.css">
        <!-- owlCarousel styleheet -->
    <link rel="stylesheet" href="css/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owlcarousel/owl.theme.default.min.css">
</head>
<body>

<th:block layout:fragment="content">
    <section class="topSection">
        <div class="container">
            <div class="topSection__wrapper">
                <h1 class="topSection__title">organic <span>cosmetics</span></h1>
                <img src="img/home--yellow/botle.png" alt="">
            </div>
            <div class="topSection__button">
                <a href="shop--green.html" class="btn draw-border draw-border--whiteGreen"><span class="arrow arrow--whiteGreen">go shop<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48.8 20.88">
                    <defs>
                      <style>
                        .cls-1 {
                          fill: none;
                          stroke: #FFF;
                          stroke-linecap: round;
                          stroke-linejoin: round;
                          stroke-width: 1.3px;
                        }
                      </style>
                    </defs>
                    <title>arrow</title>
                    <g>
                      <g>
                        <polyline class="cls-1" points="40.15 0.65 48.15 10.44 40.15 20.23" />
                        <line class="cls-1" x1="0.65" y1="10.44" x2="47.65" y2="10.44" />
                      </g>
                    </g>
                  </svg></span></a>
            </div>
        </div>
    </section>
    <!-- /.topSection -->
        <section class="about">
            <div class="about__item">
                <div class="container about__wrapper">
                    <div class="about__info">
                        <span class="about__subtitle">Case omnium</span>
                        <h2 class="about__title">Temporibus in quo?</h2>
                        <p class="about__text">Magnis dis parturient montes nascetur ridiculus. Quam viverra orci sagittis eu volutpat odio facilisis mauris. Consectetur adipiscing elit duis tristique. Etiam sit amet nisl purus.</p>
                        <a href="blogNews-v1--mustard.html" class="btn draw-border draw-border--greenMustard"><span class="arrow arrow--greenMustard">more info<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48.8 20.88">
                            <defs>
                              <style>
                                .cls-1 {
                                  fill: none;
                                  stroke: #FFF;
                                  stroke-linecap: round;
                                  stroke-linejoin: round;
                                  stroke-width: 1.3px;
                                }
                              </style>
                            </defs>
                            <title>arrow</title>
                            <g>
                              <g>
                                <polyline class="cls-1" points="40.15 0.65 48.15 10.44 40.15 20.23" />
                                <line class="cls-1" x1="0.65" y1="10.44" x2="47.65" y2="10.44" />
                              </g>
                            </g>
                          </svg></span></a>
                    </div>
                    <div class="about__img">
                        <div class="about__imgWrapper">
                            <img class="img__graphic" src="img/placeholder/1005х630.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.abaut__item -->
            <div class="about__item">
                <div class="container about__wrapper">
                    <div class="about__img">
                        <div class="about__imgWrapper">
                            <img class="img__graphic" src="img/placeholder/770х480.png" alt="">
                        </div>
                    </div>
                    <div class="about__info">
                        <h2 class="about__title">Nec iudicabit</h2>
                        <p class="about__text">
                            Quis viverra nibh cras pulvinar mattis nunc sed blandit libero. Nunc lobortis mattis aliquam faucibus purus in. Lobortis elementum nibh tellus molestie nunc non. Congue nisi vitae suscipit tellus mauris a diam maecenas. Vitae proin sagittis nisl rhoncus mattis. Elit sed vulputate mi sit amet.
                        </p>
                        <a href="blogNews-v1--mustard.html" class="btn draw-border draw-border--greenMustard"><span class="arrow arrow--greenMustard">more info<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48.8 20.88">
                            <defs>
                              <style>
                                .cls-1 {
                                  fill: none;
                                  stroke: #FFF;
                                  stroke-linecap: round;
                                  stroke-linejoin: round;
                                  stroke-width: 1.3px;
                                }
                              </style>
                            </defs>
                            <title>arrow</title>
                            <g>
                              <g>
                                <polyline class="cls-1" points="40.15 0.65 48.15 10.44 40.15 20.23" />
                                <line class="cls-1" x1="0.65" y1="10.44" x2="47.65" y2="10.44" />
                              </g>
                            </g>
                          </svg></span></a>
                    </div>
                </div>
            </div>
            <!-- /.about__item -->
    </section>
    <!-- /.about -->
        <section class="featured">
        <div class="container">
            <h3 class="featured__title">Featured products</h3>
            <div class="featured__block owl-carousel">
                <div class="product">
                   <a href="product--green.html">
                    <div class="product__img">
                      <img src="img/placeholder/365х425.png" alt="">
                  </div>
                  <div class="product__name">Ridiculus Mus Mauris</div>
                  <div class="product__price">
                      <span class="product__price--new">&#36;21.99</span>
                      <span class="product__price--old">&#36;25.99</span>
                  </div>
                   </a>
                    <div class="product__button">
                      <button class="btn btn-shop draw-border draw-border--greenMustard btn__product"><span class="addToCard">add to card</span><span class="added">added</span></button>
                    </div>
                </div>
                <!-- /.product -->
                <div class="product">
                     <a href="product--green.html">
                    <div class="product__img">
                      <img src="img/placeholder/365х425.png" alt="">
                  </div>
                  <div class="product__name">magna Aliqua</div>
                  <div class="product__price">
                      <span class="product__price--new">&#36;25.99</span>
                      <span class="product__price--old">&#36;29.99</span>
                  </div>
                   </a>
                   <div class="product__button">
                    <button class="btn btn-shop draw-border draw-border--greenMustard btn__product"><span class="addToCard">add to card</span><span class="added">added</span></button>
                  </div>
                </div>
                <!-- /.product -->
                <div class="product">
                     <a href="product--green.html">
                    <div class="product__img">
                      <img src="img/placeholder/365х425.png" alt="">
                  </div>
                  <div class="product__name">Semper Risus</div>
                  <div class="product__price">
                      <span class="product__price--new">&#36;31.99</span>
                      <span class="product__price--old">&#36;35.99</span>
                  </div>
                   </a>
                   <div class="product__button">
                    <button class="btn btn-shop draw-border draw-border--greenMustard btn__product"><span class="addToCard">add to card</span><span class="added">added</span></button>
                  </div>
                </div>
                <!-- /.product -->
                <div class="product featured__btn">
                    <div class="featured__btn--wrapper">
                        <a href="shop--green.html" class="btn draw-border draw-border--whiteGreen"><span class="arrow arrow--whiteGreen">go shop<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48.8 20.88">
                            <defs>
                              <style>
                                .cls-1 {
                                  fill: none;
                                  stroke: #FFF;
                                  stroke-linecap: round;
                                  stroke-linejoin: round;
                                  stroke-width: 1.3px;
                                }
                              </style>
                            </defs>
                            <title>arrow</title>
                            <g>
                              <g>
                                <polyline class="cls-1" points="40.15 0.65 48.15 10.44 40.15 20.23" />
                                <line class="cls-1" x1="0.65" y1="10.44" x2="47.65" y2="10.44" />
                              </g>
                            </g>
                          </svg></span> </a>
                    </div> 
                </div>
                
            </div>
            <div id="counter"></div>
        </div>

    </section>
    <!-- /.featured -->
        <section class="blog">
        <div class="blog__row">
            <div class="container blog__wrapper">
                <h3 class="blog__title">Blog&amp; <span>News</span></h3>
                <div class="blogNews__item">
                <div class="blogNews__img">
                      <img src="img/placeholder/490х310.png" alt="">
                 </div>
                    <!-- /.blogNews__img -->
                <span class="blogNews__date">12 september 2019</span>
                    <!-- /.blogNews__date -->
                <h4 class="blogNews__title">Praesent id ultricies</h4>
                    <!-- /.blogNews__title -->
                <a href="article--green.html" class="btn draw-border draw-border--greenMustard blogNews__btn">read more</a>
                    <!-- /.btn draw-border draw-border-purpleGreen blogNews__btn -->
                 </div>
                <!-- /.blogNews__item -->
            </div>
            
        </div>
        <div class="blog__row">
            <div class="container blog__wrapper">
                <div class="blogNews__item">
                    <div class="blogNews__img">
                         <img src="img/placeholder/750х475.png" alt="">
                     </div>
                        <!-- /.blogNews__img -->
                    <span class="blogNews__date">9 October 2019</span>
                        <!-- /.blogNews__date -->
                    <h4 class="blogNews__title">Aenean vitae suscipit </h4>
                        <!-- /.blogNews__title -->
                    <a href="article--green.html" class="btn draw-border draw-border--greenMustard blogNews__btn">read more</a>
                        <!-- /.btn draw-border draw-border-purpleGreen blogNews__btn -->
                 </div>
                    <!-- /.blogNews__item -->  
                    <div class="blogNews__item">
                        <div class="blogNews__img">
                             <img src="img/placeholder/355х230.png" alt="">
                         </div>
                            <!-- /.blogNews__img -->
                        <span class="blogNews__date">9 October 2019</span>
                            <!-- /.blogNews__date -->
                        <h4 class="blogNews__title">Aenean vitae suscipit </h4>
                            <!-- /.blogNews__title -->
                        <a href="article--green.html" class="btn draw-border draw-border--greenMustard blogNews__btn">read more</a>
                            <!-- /.btn draw-border draw-border-purpleGreen blogNews__btn -->
                     </div>
                        <!-- /.blogNews__item -->  
            </div>
        </div>
        <div class="blog__row">
            <div class="container">
                <div class="blog__button">
                    <a href="blogNews-v1--mustard.html" class="btn draw-border draw-border--greenMustard"><span class="arrow arrow--greenMustard">discover the blog<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48.8 20.88">
                        <defs>
                          <style>
                            .cls-1 {
                              fill: none;
                              stroke: #FFF;
                              stroke-linecap: round;
                              stroke-linejoin: round;
                              stroke-width: 1.3px;
                            }
                          </style>
                        </defs>
                        <title>arrow</title>
                        <g>
                          <g>
                            <polyline class="cls-1" points="40.15 0.65 48.15 10.44 40.15 20.23" />
                            <line class="cls-1" x1="0.65" y1="10.44" x2="47.65" y2="10.44" />
                          </g>
                        </g>
                      </svg></span></a>
                </div>
            </div>
        </div>
    </section>
    <!-- /.blog -->
        <section class="contact">
        <div class="contact__wrapper">
            <div class="container">
                <h3 class="contact__title">Contact</h3>
                <div class="contact__block">
                    <div class="contact__item">
                        <h4 class="contact__name">location</h4>
                        <span class="contact__info">Mccall St 102</span>
                        <span class="contact__info">1401 Copenhagen</span>
                    </div>
                    <!-- /.contact__item -->
                    <div class="contact__item">
                        <h4 class="contact__name">conection</h4>
                        <a class="contact__info" href="tel:+4245627892">+42 4562 7892</a>
                        <a class="contact__info" href="mailto:medcannabe@can.net">medcannabe@can.net</a>
                    </div>
                    <!-- /.contact__item -->
                    <div class="contact__item">
                        <h4 class="contact__name">openning hours</h4>
                        <span class="contact__info">Mn - Fr 09:00 - 17:00</span>
                        <span class="contact__info">St - Sn 10:00 - 13:00</span>
                    </div>
                    <!-- /.contact__item -->
                </div>
                <!-- /.contact__block -->
            </div>
        </div>
    </section>
    <!-- /.contact -->
        <section class="newsletter">
        <div class="container">
            <div class="newsletter__wrapper">
                <form  class="newsletter__form">
                    <h4 class="newsletter__title">Stay in the loop on our latest special offers</h4>
                    <div class="newsletter__formWrapper">
                        <input type="text" placeholder="enter email">
                        <input type="submit" class="btn draw-border draw-border--whiteGreen" value="sign up">
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- /.newsletter -->
</th:block>
<th:block layout:fragment="optional">
  <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>    
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script>
      var owl = $('.owl-carousel').owlCarousel({
          loop:true,
          margin:0,
          nav:false,
          autoWidth: true,
          onInitialized: counter,
          onTranslated : counter,
          responsive:{
              0:{
                  items:1,
                  center: false,
                  nav: true,
                  margin:30,
                
              },
              600:{
                  item:1,
                  center: false,
                  nav: true,
                  margin:50,

              },
              800:{
                items: 2,
                margin: 60
              },
              1025:{
                  items:3,
                  margin:70,
                  nav: false,
                
              },
              1400:{
                  items:4,
                  margin:30,
                  nav:false,
              },
              1599:{
                  items:4,
                  margin:30,
                  nav:false,
              },
              1801:{
                  items:4,
                  margin:20,
              }
          }
      });

      checkClasses();
      owl.on('translated.owl.carousel', function(event) {
          checkClasses();
      });

    function checkClasses(){
        var total = $('.owl-carousel .owl-stage .owl-item.active').length;

        $('.owl-carousel .owl-stage .owl-item').removeClass('_show');

        $('.owl-carousel .owl-stage .owl-item.active').each(function(index){
            if (index === 0) {
                // this is the first one
                $(this).addClass('_show');
            }
        });
      }


      owl.on('changed.owl.carousel', function(e) {
      $('.counter').text(e.item.index - 1 + ' из ' + e.item.count)
      });
      function counter(event) {
   var element   = event.target;         // DOM element, in this example .owl-carousel
    var items     = event.item.count;     // Number of items
    var item      = event.item.index + 1;     // Position of the current item
  
    if(item > items) {
      item = item - items
    }
    $('#counter').html(" "+item+" / "+items)
  };
  </script>
</th:block>

</body>
</html>