<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/Layout}">
<head>
    <title>shop page</title>
    <link rel="stylesheet" href="css/shop.css">
    <link rel="stylesheet" href="css/shop--green.css">
</head>
<body>
<th:block layout:fragment="content">
    <section class="shop">
        <div class="shop__topSection">
            <div class="container">
                <div class="shop__topSectionWrapper">
                    <h3 class="shop__subtitle">Delenit volumus electram no quo. Has ad sapientem accommodare. </h3>
                </div>
            </div>
        </div>
        <!-- /.shop__topSection -->
        <div class="shop__main">
           <div class="shop__filterBlock">
                <div class="container">
                    <div class="shop__filterWrapper">
                        <div class="shop__filters">
                            <div class="shop__filter shop__filter--categories">
                                <div class="selected" id="category">
                                    All category
                                </div>
                                <div class="options__container" id="categoryContainer">
                                    <div class="option">
                                        <input type="radio" class="radio" id="allCategory" name="category">
                                        <label for="allCategory"> All category</label>
                                    </div>
    
                                    <div class="option">
                                        <input type="radio" class="radio" id="category1" name="category">
                                        <label for="category1"> Category 1</label>
                                    </div>
    
                                    <div class="option">
                                        <input type="radio" class="radio" id="category2" name="category">
                                        <label for="category2"> Category 2</label>
                                    </div>
    
                                    <div class="option">
                                        <input type="radio" class="radio" id="category3" name="category">
                                        <label for="category3"> Category 3</label>
                                    </div>
                                    <div class="option">
                                        <input type="radio" class="radio" id="category4" name="category">
                                        <label for="category4"> Category 4</label>
                                    </div>
                                    <div class="option">
                                        <input type="radio" class="radio" id="category5" name="category">
                                        <label for="category5"> Category 5</label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.shop__filters-categories -->
                            <div class="shop__filter shop__filter--newset">
                                <div class="selected" id="newset">
                                    Newset
                                </div>
                                <div class="options__container" id="newsetContainer">
                                    <div class="option">
                                        <input type="radio" class="radio" id="newset-all" name="category">
                                        <label for="newset-all"> All category</label>
                                    </div>
    
                                    <div class="option">
                                        <input type="radio" class="radio" id="newset1" name="category">
                                        <label for="newset1"> Category 1</label>
                                    </div>
    
                                    <div class="option">
                                        <input type="radio" class="radio" id="newset2" name="category">
                                        <label for="newset2"> Category 2</label>
                                    </div>
    
                                    <div class="option">
                                        <input type="radio" class="radio" id="newset3" name="category">
                                        <label for="newset3"> Category 3</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.shop__filters -->
                    </div>
                    <!-- /.shop__filterWrapper -->
                </div>
           </div>
           <div class="shop__block">
               <div class="container">
                   <div class="shop__blockWrapper">
                        <div class="shop__product">
                            <div class="shop__productWrapper">
                                <a href="product--green.html">
                                  <div class="product__img">
                                    <img src="img/placeholder/385х445.png" alt="">
                                </div>
                                <!-- /.product__img -->
                                <div class="product__name">
                                    <span>magna aliqua</span>
                                </div>
                                <!-- /.product__name -->
                                <div class="product__price">
                                    <span class="product__price--new">$32.99</span>
                                    <span class="product__price--old">$39.99</span>
                                </div>
                                <!-- /.product__price -->
                                </a>
                                <div class="product__btn">
                                    <button class="btn btn-shop draw-border draw-border--greenMustard"><span class="addToCard">add to card</span><span class="added">added</span></button>
                                    <button class="btn btn-shop draw-border draw-border--mustardGreen btn--wishlist">
                                      <svg class="wishlist" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.92 21.92">
                                        <title>favorite</title>
                                        <g>
                                          <g>
                                            <path
                                              d="M17.47,1.3a5.17,5.17,0,0,1,5,4,5.12,5.12,0,0,1-.68,3.89A81.43,81.43,0,0,1,12,20.42,81.22,81.22,0,0,1,2.1,9.22,5.17,5.17,0,0,1,3.7,2.1a5.16,5.16,0,0,1,7.11,1.58l0,0,0,0L12,5.56l1.11-1.8,0-.08A5.14,5.14,0,0,1,17.47,1.3m0-1.3A6.45,6.45,0,0,0,12,3l0,.07a.16.16,0,0,0,0-.07A6.46,6.46,0,1,0,1,9.92c1.91,3,9.92,12,11,12s9.05-9,11-12A6.46,6.46,0,0,0,17.47,0Z" />
                                          </g>
                                        </g>
                                      </svg>
                                      <svg class="check" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 288.941 288.941" style="enable-background:new 0 0 288.941 288.941;" xml:space="preserve">
                                          <g>
                                            <path d="M285.377,46.368c-4.74-4.704-12.439-4.704-17.179,0L96.309,217.114L20.734,142.61
                                              c-4.74-4.704-12.439-4.704-17.179,0s-4.74,12.319,0,17.011l84.2,82.997c4.692,4.644,12.499,4.644,17.191,0l180.43-179.239
                                              C290.129,58.687,290.129,51.06,285.377,46.368C280.637,41.664,290.129,51.06,285.377,46.368z"/>
                                          </g>
                                      </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- /.shop__product -->
                        <div class="shop__product">
                            <div class="shop__productWrapper">
                                <a href="product--green.html">
                                  <div class="product__img">
                                    <img src="img/placeholder/385х445.png" alt="">
                                </div>
                                <!-- /.product__img -->
                                <div class="product__name">
                                    <span>Malesuada proin</span>
                                </div>
                                <!-- /.product__name -->
                                <div class="product__price">
                                    <span class="product__price--new">$32.99</span>
                                    <span class="product__price--old">$39.99</span>
                                </div>
                                <!-- /.product__price -->
                                </a>
                                <div class="product__btn">
                                    <button class="btn btn-shop draw-border draw-border--greenMustard"><span class="addToCard">add to card</span><span class="added">added</span></button>
                                    <button class="btn btn-shop draw-border draw-border--mustardGreen btn--wishlist">
                                      <svg class="wishlist" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.92 21.92">
                                      <title>favorite</title>
                                      <g>
                                        <g>
                                          <path
                                            d="M17.47,1.3a5.17,5.17,0,0,1,5,4,5.12,5.12,0,0,1-.68,3.89A81.43,81.43,0,0,1,12,20.42,81.22,81.22,0,0,1,2.1,9.22,5.17,5.17,0,0,1,3.7,2.1a5.16,5.16,0,0,1,7.11,1.58l0,0,0,0L12,5.56l1.11-1.8,0-.08A5.14,5.14,0,0,1,17.47,1.3m0-1.3A6.45,6.45,0,0,0,12,3l0,.07a.16.16,0,0,0,0-.07A6.46,6.46,0,1,0,1,9.92c1.91,3,9.92,12,11,12s9.05-9,11-12A6.46,6.46,0,0,0,17.47,0Z" />
                                        </g>
                                      </g>
                                    </svg>
                                    <svg class="check" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                          viewBox="0 0 288.941 288.941" style="enable-background:new 0 0 288.941 288.941;" xml:space="preserve">
                                        <g>
                                          <path d="M285.377,46.368c-4.74-4.704-12.439-4.704-17.179,0L96.309,217.114L20.734,142.61
                                            c-4.74-4.704-12.439-4.704-17.179,0s-4.74,12.319,0,17.011l84.2,82.997c4.692,4.644,12.499,4.644,17.191,0l180.43-179.239
                                            C290.129,58.687,290.129,51.06,285.377,46.368C280.637,41.664,290.129,51.06,285.377,46.368z"/>
                                        </g>
                                    </svg>
                                  </button>
                                </div>
                            </div>
                        </div>
                        <!-- /.shop__product -->
                        <div class="shop__product">
                            <div class="shop__productWrapper">
                                <a href="product--green.html">
                                  <div class="product__img">
                                    <img src="img/placeholder/385х445.png" alt="">
                                </div>
                                <!-- /.product__img -->
                                <div class="product__name">
                                    <span>Ridiculus mus mauris</span>
                                </div>
                                <!-- /.product__name -->
                                <div class="product__price">
                                    <span class="product__price--new">$31.99</span>
                                    <span class="product__price--old"></span>
                                </div>
                                <!-- /.product__price -->
                                </a>
                                <div class="product__btn">
                                    <button class="btn btn-shop draw-border draw-border--greenMustard"><span class="addToCard">add to card</span><span class="added">added</span></button>
                                    <button class="btn btn-shop draw-border draw-border--mustardGreen btn--wishlist">
                                      <svg class="wishlist" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.92 21.92">
                                        <title>favorite</title>
                                        <g>
                                          <g>
                                            <path
                                              d="M17.47,1.3a5.17,5.17,0,0,1,5,4,5.12,5.12,0,0,1-.68,3.89A81.43,81.43,0,0,1,12,20.42,81.22,81.22,0,0,1,2.1,9.22,5.17,5.17,0,0,1,3.7,2.1a5.16,5.16,0,0,1,7.11,1.58l0,0,0,0L12,5.56l1.11-1.8,0-.08A5.14,5.14,0,0,1,17.47,1.3m0-1.3A6.45,6.45,0,0,0,12,3l0,.07a.16.16,0,0,0,0-.07A6.46,6.46,0,1,0,1,9.92c1.91,3,9.92,12,11,12s9.05-9,11-12A6.46,6.46,0,0,0,17.47,0Z" />
                                          </g>
                                        </g>
                                      </svg>
                                      <svg class="check" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 288.941 288.941" style="enable-background:new 0 0 288.941 288.941;" xml:space="preserve">
                                          <g>
                                            <path d="M285.377,46.368c-4.74-4.704-12.439-4.704-17.179,0L96.309,217.114L20.734,142.61
                                              c-4.74-4.704-12.439-4.704-17.179,0s-4.74,12.319,0,17.011l84.2,82.997c4.692,4.644,12.499,4.644,17.191,0l180.43-179.239
                                              C290.129,58.687,290.129,51.06,285.377,46.368C280.637,41.664,290.129,51.06,285.377,46.368z"/>
                                          </g>
                                      </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- /.shop__product -->
                        <div class="shop__product">
                            <div class="shop__productWrapper">
                                <a href="product--green.html">
                                  <div class="product__img">
                                    <img src="img/placeholder/385х445.png" alt="">
                                </div>
                                <!-- /.product__img -->
                                <div class="product__name">
                                    <span>Cursus turpis</span>
                                </div>
                                <!-- /.product__name -->
                                <div class="product__price">
                                    <span class="product__price--new">$37.99</span>
                                    <span class="product__price--old">$50.99</span>
                                </div>
                                <!-- /.product__price -->
                                </a>
                                <div class="product__btn">
                                    <button class="btn btn-shop draw-border draw-border--greenMustard"><span class="addToCard">add to card</span><span class="added">added</span></button>
                                    <button class="btn btn-shop draw-border draw-border--mustardGreen btn--wishlist"><svg class="wishlist" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.92 21.92">
                                      <title>favorite</title>
                                      <g>
                                        <g>
                                          <path
                                            d="M17.47,1.3a5.17,5.17,0,0,1,5,4,5.12,5.12,0,0,1-.68,3.89A81.43,81.43,0,0,1,12,20.42,81.22,81.22,0,0,1,2.1,9.22,5.17,5.17,0,0,1,3.7,2.1a5.16,5.16,0,0,1,7.11,1.58l0,0,0,0L12,5.56l1.11-1.8,0-.08A5.14,5.14,0,0,1,17.47,1.3m0-1.3A6.45,6.45,0,0,0,12,3l0,.07a.16.16,0,0,0,0-.07A6.46,6.46,0,1,0,1,9.92c1.91,3,9.92,12,11,12s9.05-9,11-12A6.46,6.46,0,0,0,17.47,0Z" />
                                        </g>
                                      </g>
                                    </svg>
                                    <svg class="check" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                          viewBox="0 0 288.941 288.941" style="enable-background:new 0 0 288.941 288.941;" xml:space="preserve">
                                        <g>
                                          <path d="M285.377,46.368c-4.74-4.704-12.439-4.704-17.179,0L96.309,217.114L20.734,142.61
                                            c-4.74-4.704-12.439-4.704-17.179,0s-4.74,12.319,0,17.011l84.2,82.997c4.692,4.644,12.499,4.644,17.191,0l180.43-179.239
                                            C290.129,58.687,290.129,51.06,285.377,46.368C280.637,41.664,290.129,51.06,285.377,46.368z"/>
                                        </g>
                                    </svg></button>
                                </div>
                            </div>
                        </div>
                        <!-- /.shop__product -->
                        <div class="shop__product">
                            <div class="shop__productWrapper">
                                <a href="product--green.html">
                                  <div class="product__img">
                                    <img src="img/placeholder/385х445.png" alt="">
                                </div>
                                <!-- /.product__img -->
                                <div class="product__name">
                                    <span>Semper risus</span>
                                </div>
                                <!-- /.product__name -->
                                <div class="product__price">
                                    <span class="product__price--new">$23.99</span>
                                    <span class="product__price--old"></span>
                                </div>
                                <!-- /.product__price -->
                                </a>
                                <div class="product__btn">
                                    <button class="btn btn-shop draw-border draw-border--greenMustard"><span class="addToCard">add to card</span><span class="added">added</span></button>
                                    <button class="btn btn-shop draw-border draw-border--mustardGreen btn--wishlist">
                                      <svg class="wishlist" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.92 21.92">
                                        <title>favorite</title>
                                        <g>
                                          <g>
                                            <path
                                              d="M17.47,1.3a5.17,5.17,0,0,1,5,4,5.12,5.12,0,0,1-.68,3.89A81.43,81.43,0,0,1,12,20.42,81.22,81.22,0,0,1,2.1,9.22,5.17,5.17,0,0,1,3.7,2.1a5.16,5.16,0,0,1,7.11,1.58l0,0,0,0L12,5.56l1.11-1.8,0-.08A5.14,5.14,0,0,1,17.47,1.3m0-1.3A6.45,6.45,0,0,0,12,3l0,.07a.16.16,0,0,0,0-.07A6.46,6.46,0,1,0,1,9.92c1.91,3,9.92,12,11,12s9.05-9,11-12A6.46,6.46,0,0,0,17.47,0Z" />
                                          </g>
                                        </g>
                                      </svg>
                                      <svg class="check" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 288.941 288.941" style="enable-background:new 0 0 288.941 288.941;" xml:space="preserve">
                                          <g>
                                            <path d="M285.377,46.368c-4.74-4.704-12.439-4.704-17.179,0L96.309,217.114L20.734,142.61
                                              c-4.74-4.704-12.439-4.704-17.179,0s-4.74,12.319,0,17.011l84.2,82.997c4.692,4.644,12.499,4.644,17.191,0l180.43-179.239
                                              C290.129,58.687,290.129,51.06,285.377,46.368C280.637,41.664,290.129,51.06,285.377,46.368z"/>
                                          </g>
                                      </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- /.shop__product -->
                        <div class="shop__product">
                            <div class="shop__productWrapper">
                                <a href="product--green.html">
                                  <div class="product__img">
                                    <img src="img/placeholder/385х445.png" alt="">
                                </div>
                                <!-- /.product__img -->
                                <div class="product__name">
                                    <span>Proin fermentum leo</span>
                                </div>
                                <!-- /.product__name -->
                                <div class="product__price">
                                    <span class="product__price--new">$52.99</span>
                                    <span class="product__price--old"></span>
                                </div>
                                <!-- /.product__price -->
                                </a>
                                <div class="product__btn">
                                    <button class="btn btn-shop draw-border draw-border--greenMustard"><span class="addToCard">add to card</span><span class="added">added</span></button>
                                    <button class="btn btn-shop draw-border draw-border--mustardGreen btn--wishlist"><svg class="wishlist" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.92 21.92">
                                      <title>favorite</title>
                                      <g>
                                        <g>
                                          <path
                                            d="M17.47,1.3a5.17,5.17,0,0,1,5,4,5.12,5.12,0,0,1-.68,3.89A81.43,81.43,0,0,1,12,20.42,81.22,81.22,0,0,1,2.1,9.22,5.17,5.17,0,0,1,3.7,2.1a5.16,5.16,0,0,1,7.11,1.58l0,0,0,0L12,5.56l1.11-1.8,0-.08A5.14,5.14,0,0,1,17.47,1.3m0-1.3A6.45,6.45,0,0,0,12,3l0,.07a.16.16,0,0,0,0-.07A6.46,6.46,0,1,0,1,9.92c1.91,3,9.92,12,11,12s9.05-9,11-12A6.46,6.46,0,0,0,17.47,0Z" />
                                        </g>
                                      </g>
                                    </svg>
                                    <svg class="check" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                          viewBox="0 0 288.941 288.941" style="enable-background:new 0 0 288.941 288.941;" xml:space="preserve">
                                        <g>
                                          <path d="M285.377,46.368c-4.74-4.704-12.439-4.704-17.179,0L96.309,217.114L20.734,142.61
                                            c-4.74-4.704-12.439-4.704-17.179,0s-4.74,12.319,0,17.011l84.2,82.997c4.692,4.644,12.499,4.644,17.191,0l180.43-179.239
                                            C290.129,58.687,290.129,51.06,285.377,46.368C280.637,41.664,290.129,51.06,285.377,46.368z"/>
                                        </g>
                                    </svg></button>
                                </div>
                            </div>
                        </div>
                        <!-- /.shop__product -->
                        <div class="shop__product">
                            <div class="shop__productWrapper">
                                <a href="product--green.html">
                                  <div class="product__img">
                                    <img src="img/placeholder/385х445.png" alt="">
                                </div>
                                <!-- /.product__img -->
                                <div class="product__name">
                                    <span>Habitasse platea</span>
                                </div>
                                <!-- /.product__name -->
                                <div class="product__price">
                                    <span class="product__price--new">$22.99</span>
                                    <span class="product__price--old">$39.99</span>
                                </div>
                                <!-- /.product__price -->
                                </a>
                                <div class="product__btn">
                                    <button class="btn btn-shop draw-border draw-border--greenMustard"><span class="addToCard">add to card</span><span class="added">added</span></button>
                                    <button class="btn btn-shop draw-border draw-border--mustardGreen btn--wishlist">
                                      <svg class="wishlist" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.92 21.92">
                                        <title>favorite</title>
                                        <g>
                                          <g>
                                            <path
                                              d="M17.47,1.3a5.17,5.17,0,0,1,5,4,5.12,5.12,0,0,1-.68,3.89A81.43,81.43,0,0,1,12,20.42,81.22,81.22,0,0,1,2.1,9.22,5.17,5.17,0,0,1,3.7,2.1a5.16,5.16,0,0,1,7.11,1.58l0,0,0,0L12,5.56l1.11-1.8,0-.08A5.14,5.14,0,0,1,17.47,1.3m0-1.3A6.45,6.45,0,0,0,12,3l0,.07a.16.16,0,0,0,0-.07A6.46,6.46,0,1,0,1,9.92c1.91,3,9.92,12,11,12s9.05-9,11-12A6.46,6.46,0,0,0,17.47,0Z" />
                                          </g>
                                        </g>
                                      </svg>
                                      <svg class="check" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 288.941 288.941" style="enable-background:new 0 0 288.941 288.941;" xml:space="preserve">
                                          <g>
                                            <path d="M285.377,46.368c-4.74-4.704-12.439-4.704-17.179,0L96.309,217.114L20.734,142.61
                                              c-4.74-4.704-12.439-4.704-17.179,0s-4.74,12.319,0,17.011l84.2,82.997c4.692,4.644,12.499,4.644,17.191,0l180.43-179.239
                                              C290.129,58.687,290.129,51.06,285.377,46.368C280.637,41.664,290.129,51.06,285.377,46.368z"/>
                                          </g>
                                      </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- /.shop__product -->
                        <div class="shop__product">
                            <div class="shop__productWrapper">
                                <a href="product--green.html">
                                  <div class="product__img">
                                    <img src="img/placeholder/385х445.png" alt="">
                                </div>
                                <!-- /.product__img -->
                                <div class="product__name">
                                    <span>Congue quisque</span>
                                </div>
                                <!-- /.product__name -->
                                <div class="product__price">
                                    <span class="product__price--new">$16.99</span>
                                    <span class="product__price--old"></span>
                                </div>
                                <!-- /.product__price -->
                                </a>
                                <div class="product__btn">
                                    <button class="btn btn-shop draw-border draw-border--greenMustard"><span class="addToCard">add to card</span><span class="added">added</span></button>
                                    <button class="btn btn-shop draw-border draw-border--mustardGreen btn--wishlist">
                                      <svg class="wishlist" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.92 21.92">
                                        <title>favorite</title>
                                        <g>
                                          <g>
                                            <path
                                              d="M17.47,1.3a5.17,5.17,0,0,1,5,4,5.12,5.12,0,0,1-.68,3.89A81.43,81.43,0,0,1,12,20.42,81.22,81.22,0,0,1,2.1,9.22,5.17,5.17,0,0,1,3.7,2.1a5.16,5.16,0,0,1,7.11,1.58l0,0,0,0L12,5.56l1.11-1.8,0-.08A5.14,5.14,0,0,1,17.47,1.3m0-1.3A6.45,6.45,0,0,0,12,3l0,.07a.16.16,0,0,0,0-.07A6.46,6.46,0,1,0,1,9.92c1.91,3,9.92,12,11,12s9.05-9,11-12A6.46,6.46,0,0,0,17.47,0Z" />
                                          </g>
                                        </g>
                                      </svg>
                                      <svg class="check" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 288.941 288.941" style="enable-background:new 0 0 288.941 288.941;" xml:space="preserve">
                                          <g>
                                            <path d="M285.377,46.368c-4.74-4.704-12.439-4.704-17.179,0L96.309,217.114L20.734,142.61
                                              c-4.74-4.704-12.439-4.704-17.179,0s-4.74,12.319,0,17.011l84.2,82.997c4.692,4.644,12.499,4.644,17.191,0l180.43-179.239
                                              C290.129,58.687,290.129,51.06,285.377,46.368C280.637,41.664,290.129,51.06,285.377,46.368z"/>
                                          </g>
                                      </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- /.shop__product -->
                        <div class="shop__product">
                            <div class="shop__productWrapper">
                                <a href="product--green.html">
                                  <div class="product__img">
                                    <img src="img/placeholder/385х445.png" alt="">
                                </div>
                                <!-- /.product__img -->
                                <div class="product__name">
                                    <span>Convallis aenean</span>
                                </div>
                                <!-- /.product__name -->
                                <div class="product__price">
                                    <span class="product__price--new">$38.99</span>
                                    <span class="product__price--old"></span>
                                </div>
                                <!-- /.product__price -->
                                </a>
                                <div class="product__btn">
                                    <button class="btn btn-shop draw-border draw-border--greenMustard"><span class="addToCard">add to card</span><span class="added">added</span></button>
                                    <button class="btn btn-shop draw-border draw-border--mustardGreen btn--wishlist">
                                    <svg class="wishlist" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.92 21.92">
                                      <title>favorite</title>
                                      <g>
                                        <g>
                                          <path
                                            d="M17.47,1.3a5.17,5.17,0,0,1,5,4,5.12,5.12,0,0,1-.68,3.89A81.43,81.43,0,0,1,12,20.42,81.22,81.22,0,0,1,2.1,9.22,5.17,5.17,0,0,1,3.7,2.1a5.16,5.16,0,0,1,7.11,1.58l0,0,0,0L12,5.56l1.11-1.8,0-.08A5.14,5.14,0,0,1,17.47,1.3m0-1.3A6.45,6.45,0,0,0,12,3l0,.07a.16.16,0,0,0,0-.07A6.46,6.46,0,1,0,1,9.92c1.91,3,9.92,12,11,12s9.05-9,11-12A6.46,6.46,0,0,0,17.47,0Z" />
                                        </g>
                                      </g>
                                    </svg>
                                    <svg class="check" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                          viewBox="0 0 288.941 288.941" style="enable-background:new 0 0 288.941 288.941;" xml:space="preserve">
                                        <g>
                                          <path d="M285.377,46.368c-4.74-4.704-12.439-4.704-17.179,0L96.309,217.114L20.734,142.61
                                            c-4.74-4.704-12.439-4.704-17.179,0s-4.74,12.319,0,17.011l84.2,82.997c4.692,4.644,12.499,4.644,17.191,0l180.43-179.239
                                            C290.129,58.687,290.129,51.06,285.377,46.368C280.637,41.664,290.129,51.06,285.377,46.368z"/>
                                        </g>
                                    </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- /.shop__product -->                        
                   </div>
                </div>  
           </div>
           <!-- /.shop__block -->
           <div class="shop__loadMore">
               <div class="container">
                   <div class="shop__loadMoreWrapper">
                       <button class="btn draw-border draw-border--greenMustard"><span class="arrow arrow--greenMustard">load more<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48.8 20.88">
                        <defs>
                          <style>
                            .cls-1 {
                              fill: none;
                              stroke: #FFF;
                              stroke-linecap: round;
                              stroke-linejoin: round;
                              stroke-width: 1.3px;
                            }
                          </style>
                        </defs>
                        <title>arrow</title>
                        <g>
                          <g>
                            <polyline class="cls-1" points="40.15 0.65 48.15 10.44 40.15 20.23" />
                            <line class="cls-1" x1="0.65" y1="10.44" x2="47.65" y2="10.44" />
                          </g>
                        </g>
                      </svg></span></button>
                   </div>
               </div>
           </div>
           <!-- /.shop__loadMore -->
        </div>  
               

    </section>
    <!-- /.shop -->
</th:block>
<th:block layout:fragment="optional">
	<script src="js/select.js"></script>
</th:block>

</body>
</html>