<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/Layout}">
<head>
    <title>Sign in</title>
    <link rel="stylesheet" href="css/sign-in.css">
    <link rel="stylesheet" href="css/sign-in--mustard.css">
</head>
<body>

<th:block layout:fragment="content">
    <section class="sign-in">
        <div class="container sign-in__wrapper">
            <h3 class="sign-in__title">Sign in</h3>
            <form class="sign-in__form">
                <div class="sign-in__formWrapper">
                    <label >Email</label>
                    <input type="text" placeholder="enter your email" required>
                    <label >Password</label>
                    <input type="text" placeholder="enter your password" required>
                    <button type="submit" class="btn btn draw-border draw-border--mustardGreen sign-in__submit"><span class="arrow arrow--mustardGreen">sign in<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48.8 20.88">
                        <defs>
                          <style>
                            .cls-1 {
                              fill: none;
                              stroke: #FFF;
                              stroke-linecap: round;
                              stroke-linejoin: round;
                              stroke-width: 1.3px;
                            }
                          </style>
                        </defs>
                        <title>arrow</title>
                        <g>
                          <g>
                            <polyline class="cls-1" points="40.15 0.65 48.15 10.44 40.15 20.23" />
                            <line class="cls-1" x1="0.65" y1="10.44" x2="47.65" y2="10.44" />
                          </g>
                        </g>
                      </svg></span></button>
                    <a class="sign-in__createLink" href="sign-up--darkGreen.html">Create account</a>
                </div>
            </form>
            <!-- /.sing-in__form -->
        </div>
    </section>
    <!-- /.sign-in -->
</th:block>

<th:block th:fragment="optional">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
</th:block>

</body>
</html>